#pagination {
    margin-top:10px;
    float:right;
}

.pagination {
    font-size: 85%;
}
        
.pagination a {
    background-image: url("../images/kaisquare_image.png");
    background-position: -5px -246px;
    border: 1px solid #ABABAB;
    color: #585858;
    text-decoration: none;
}

.pagination a:hover {
    background-image: url("../images/kaisquare_image.png");
    background-position: -5px -246px;
    border: 1px solid #147EB6;
    color: #147EB6;
    font-weight: bold;
    text-decoration: none;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.1em 0.2em;
    margin-right: 3px;
    margin-bottom: 3px;
    min-width:1em;
    text-align:center;
    font-family: arial;
    font-size: 12px;
}

.pagination .current {
    background: url("../images/kaisquare_image.png");
    background-position: -5px -401px;
    border: 1px solid #147EB6;
    color: #FFFFFF;
}

.pagination .current.prev, .pagination .current.next{
    background-image: url("../images/kaisquare_image.png");
    background-position: -5px -246px;
    border-color: #CCCCCC;
    color: #ccc;
}
