/* Popup */

.popWrapper {
	position: fixed;
	height: 300px;
	width: 200px;
	bottom: 0;
	right: 0;
	padding: 5px;
	z-index: 10000;
}

.popIframe {
	position: absolute;
	height: 300px;
	width: 200px;
	z-index: 1001;
}

.popPanel {
	position: absolute;
	height: 300px;
	width: 200px;
	background-color: #FFFFFF;
	z-index: 1002;
}

.popHeader {
	height: 25px;
	width: 100%;
	background-color: #0066CC;
}

.popContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 255px;
	width: 100%;
	background-color: #ccc;
    word-wrap: break-word;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: auto;
}

.popFooter, .popFooter a, .popFooter a.hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	height: 20px;
	width: 100%;
	background-color: #0066CC;
}
.popTitle span {
    float: left;
}
.popTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	height: 100%;
	width: 100%;
	font-weight: bolder;
	line-height: 1.8em;
	padding-left: 5px;
}

#popTitle a {
    display: block;
    float: right;
    margin: 5px 10px 0 0;
}

.popMargin {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Alert */

.alertPanel {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.alertHeader {
	height: 25px;
	width: 100%;
	background-color: #0066CC;
}

.alertContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	width: 100%;
	background-color: #CCCCCC;
        word-wrap: break-word;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: auto;
}

.alertFooter {
	height: 20px;
	width: 100%;
	background-color: #0066CC;
}

.alertFooter a, .alertFooter a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.alertTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bolder;
	line-height: 1.8em;
	margin-left: 5px;
}

.alertMargin {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
}
