/* Non customizable CSS */
.map { overflow:hidden; }
.map .container { position:relative; border:none; padding:0px; margin:0px; left:0px; top:0px; overflow:hidden; width:100%; height:100%; }
.map .container .layersDiv { position:relative; left:0px; top:0px; width:100%; height:100%; }
.map .container .layersDiv .layerTile { position:absolute; border:none; margin:0px; padding:0px; }

/* http://www.randomtools.net/how-to-hide-android-webview-highlight-border-or-change-its-color-142.html */
.map .container .container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

/* User customizable CSS */

/* To customize the map logo
 * - Replace image url and size appropriately
 */
.map .logo-med { position:absolute; right:5px; bottom:5px; width:65px; height:36px; z-index:30; background-image:url(../images/map/logo-med.png); cursor:pointer; _background-image:none; }
.map .logo-sm { position:absolute; right:5px; bottom:5px; width:46px; height:22px; z-index:30; background-image:url(../images/map/logo-sm.png); cursor:pointer; _background-image:none; }
.map .bingLogo-lg { position:absolute; left:5px; bottom:5px; width:93px; height:29px; z-index:30; background-image:url(../images/map/bing-logo-lg.png); _background-image:none; }

/* To customize fixed pan image:
 * - Customize <jsapi>/images/map/fixed-pan-sprite.pdf and save as fixed-pan-sprite.png
 * - Or modify images & CSS appropriately
 */
.map .container .fixedPan { position:absolute; width:15px; height:15px; background-image:url(../images/map/fixed-pan-sprite.png); overflow:hidden; cursor:pointer; }
.map .container .panUp { background-position:-16px 0px; top:5px; }
.map .container .panUpperRight { background-position:-32px 0px; right:5px; top:5px; }
.map .container .panRight { background-position:-32px -16px; right:5px; }
.map .container .panLowerRight { background-position:-32px -32px; right:5px; bottom:5px; }
.map .container .panDown { background-position:-16px -32px; bottom:5px; }
.map .container .panLowerLeft { background-position:-47px -32px; left:5px; bottom:5px; }
.map .container .panLeft { background-position:-47px -16px; left:5px; }
.map .container .panUpperLeft { background-position:-47px 0px; left:5px; top:5px; }

.map .tooltip {
  width: 100px;
  position: absolute;
  border: 1px solid #7EABCD;
  background-color: white;
  padding: 5px;
  font-size:9pt;
  z-index: 9999;
  
  /* Does not work in IE */
  -o-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
}

/***************
 * Small Slider
 ***************/

.esriSimpleSlider {
  position: absolute;
  left: 10px; top: 10px; 
  text-align: center; 
  border: 1px solid #666666; 
  background-color: #FFFFFF; 
  color: #666666; 
  cursor: pointer; 
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: 0 0 0.5em #BBBBBB; -webkit-box-shadow: 0 0 0.5em #BBBBBB;
}

.esriSimpleSlider div {
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-family: verdana,helvetica;
  font-weight: bold;
  line-height: 25px;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1px solid #666666;
}

.esriSimpleSliderHorizontal .esriSimpleSliderIncrementButton {
  border-right: 1px solid #666666;
  float: left;
}

.esriSimpleSliderHorizontal .esriSimpleSliderDecrementButton {
  float: right;
}

.esriSimpleSliderHorizontal .esriSimpleSliderDecrementButton.dj_ie67Fix {
  float: none;
  text-align: center;
}
