<form action="/mycounsellings/mysearch" method="post" class="k-content" onsubmit="return counselSearchValidate(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_driverId">Driver Name:</label>
	<input name="driverId" id="${grid.tabId}_driverId"/>
	
	<label for="${grid.tabId}_date">Date:</label>
	<input name="date" id="${grid.tabId}_date"/>
	
	<div style="height:8px"></div>
	
	<label for="${grid.tabId}_start" >Start Time:</label>
	<input name="start" id="${grid.tabId}_start"/>
	
	<label for="${grid.tabId}_end">End Time:</label>
	<input name="end" id="${grid.tabId}_end"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button" style="width:auto;" value="Search" />
	</div>
	
</form>

<div id="fm_error" style="display:none; text-align:center;"><p style="color:red; font-size:20px;">The date format must be "yyyy-MM-dd hh:mm:ss"</p></div>
<div id="grid_${grid.tabId}"></div>

<script>
    $(document).ready(function () {
    	
    	loadCounsels("${grid.readUrl}");
    	
        $("#${grid.tabId}_driverId").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: #{verbatim} ${drivers} #{/verbatim}
        });
        
        $("#${grid.tabId}_date").kendoDatePicker({
        	format: "yyyy-MM-dd"		
        });
        
        $("#${grid.tabId}_start").kendoTimePicker({
        	format: "HH:mm:ss"		
        });
        
        $("#${grid.tabId}_end").kendoTimePicker({
        	format: "HH:mm:ss"		
        });
    });
    
    
    function strDateTime(str){
	    var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2}) (\d{1,2}):(\d{1,2}):(\d{1,2})$/;
	    var r = str.match(reg);
	    if(r==null)return false;
	    var d= new Date(r[1], r[3]-1,r[4],r[5],r[6],r[7]);
	    var flag = d.getFullYear()==r[1]&&(d.getMonth()+1)==r[3]&&d.getDate()==r[4]&&d.getHours()==r[5]&&d.getMinutes()==r[6]&&d.getSeconds()==r[7];
	    if(!flag){
	    	return false;
	    }else{
	    	return true;
	    } 
    }
    
    
    function loadCounsels(url, params){
    	$("#grid_${grid.tabId}").empty();
        var dataSource = new kendo.data.DataSource({
            transport: {
                read:  {
                    url: url,
                    dataType: "json"
                },
                update: {
                    url: "${grid.updateUrl}",
                    dataType: "json"
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    dataType: "json"
                },
                create: {
                    url: "${grid.createUrl}",
                    dataType: "json"
                },
                search: {
                    url: "${grid.searchUrl}",
                    dataType: "json"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                    	if(operation=="create"){
                    		var preJsonStr = JSON.stringify(options.models);
    						var jLen = preJsonStr.length;
    						var jsonStr = preJsonStr.substring(1, jLen-1);
    						var jsonData = jQuery.parseJSON(jsonStr);
                    		var startTime = jsonData.startTime;
                    		var endTime = jsonData.endTime;
                    		var checkStartTime = strDateTime(startTime);
                    		var checkEndTime = strDateTime(endTime);
                    		if(!checkStartTime||!checkEndTime){
                    			//loadCounsels("${grid.readUrl}");
                    			$("div#fm_error").css("display","block");
                    			return;
                    		}else{
                    			if($("div#fm_error").css("display")=="block")
                    				$("div#fm_error").css("display","none");
                    		}
                    	}
                    	if(operation=="update"){
                    		var preJsonStr = JSON.stringify(options.models);
    						var jLen = preJsonStr.length;
    						var jsonStr = preJsonStr.substring(1, jLen-1);
    						var jsonData = jQuery.parseJSON(jsonStr);
                    		var startTime = jsonData.startTime;
                    		var endTime = jsonData.endTime;
                    		var checkStartTime = strDateTime(startTime);
                    		var checkEndTime = strDateTime(endTime);
                    		if(!checkStartTime||!checkEndTime){
                    			//loadCounsels("${grid.readUrl}");
                    			$("div#fm_error").css("display","block");
                    			return "";
                    		}else{
                    			if($("div#fm_error").css("display")=="block")
                    				$("div#fm_error").css("display","none");
                    		}
                    	}
                        return {models: kendo.stringify(options.models)};
                    }
                    return params;
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        driverName: { validation: { required: true }, editable: true },
                        startTime: { validation: { required: true } },
                        endTime: { validation: { required: true } },
                        remark: { validation: { required: false } },
                    }
                }
            }
        });
        
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command: ["edit", "destroy"], title: "Actions", width: "210px" };
		columnsJson[0] = {title:"Driver", field:"driverName", editor: function (container, options) {
			$('<input name="' + options.field + '"/>').appendTo(container).kendoComboBox({
	            dataSource: #{verbatim} ${drivers} #{/verbatim},
	            dataValueField: "driverName",
	            dataTextField: "text",
	            autobind: false
	        });
	    }};
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: "auto",
            toolbar: ["create"],
            columns: columnsJson,
            editable: "${grid.editable}"
        });
    }
   
    function counselSearchValidate(form) {
    	var $form = $(form);
    	
    	loadCounsels($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }
</script>
