#{extends theme+'/main.html' /} #{set title:'Counselling' /}
<link rel="stylesheet" type="text/css" media="screen"
	href="${static_dir}/css/kendo.common.min.css" />
<link rel="stylesheet" type="text/css" media="screen"
	href="${static_dir}/css/kendo.default.min.css" />
<script src="${static_dir}/js/counsel.js" type="text/javascript"
	charset="utf-8"></script>
<script src="${static_dir}/js/kendo.datepicker.min.js"
	type="text/javascript"></script>
<script src="${static_dir}/js/kendo.timepicker.min.js"
	type="text/javascript"></script>
<script src="${static_dir}/js/kendo.grid.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/kendo.window.min.js"
	type="text/javascript"></script>
<script src="${static_dir}/js/kendo.dropdownlist.min.js"
	type="text/javascript"></script>
<script src="${static_dir}/js/kendo.web.min.js" type="text/javascript"></script>

<div id="counsel_top" align="center" style="padding: 20px 0 0 0px;">
	#{form @MyCounsellings.mysearch()}
	<table>
		<tr>
			<td width="100px"><label for="driverName">&{'counsel-driver'}:</label></td>
			<td width="240"><input type="text" id="driver" name="driverName"
				value="" /></td>
		</tr>
		<tr>
			<td width="100px"><label for="start">&{'counsel-start-date'}:</label></td>
			<td width="240px"><input type="text" class="start-date"
				name="date" value="" /></td>
		</tr>
		<tr>
			<td width="100px"><label for="start">&{'counsel-start-time'}:</label></td>
			<td width="240px"><input type="text" class="start-time"
				name="startTime" value="" /></td>
			<td width="100px"><label for="end">&{'counsel-end-time'}:</label></td>
			<td width="240px"><input type="text" class="end-time" value=""
				name="endTime" /></td>
			<td width="100px">
				<button data-bind="click: search">Search</button>
			</td>
		</tr>
	</table>
	#{/form}
	<hr width="auto" />
	<div style="padding: 5px">
		#{if flash.error}
		<p style="color: red">${flash.error}</p>
		#{/if}
	</div>
	<div id="new_div" style="padding-bottom: 10px">
		<button class="create">Create new</button>
	</div>
	<div id="counsel_table">
		<Table id="counsel-show">
			<tr id="t-title">
				<th>No.</th>
				<th>Driver</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Remark</th>
				<th>Action</th>
			</tr>
			#{list items:counsellings, as:'counsel'}
			<tr class="counsel-row">
				<td id="counsel_id" class="counsel_id">${counsel.id}</td>
				<td id="driver_name" class="diver_name">${counsel.driver.name}</td>
				<td id="start_time" class="start_time">${counsel.startTime}</td>
				<td id="end_time" class="end_time">${counsel.endTime}</td>
				<td id="remark" class="remark" style="display: none;">${counsel.remark}</td>
				<td id="action" class="action" style="text-align: center;">
					<button class="btn-edit" class="edit" counsel_id="${counsel.id}">Edit</button>
					<button class="btn-del" class="delete" counsel_id="${counsel.id}">Delete</button>
				</td>
			</tr>
			#{/list}
		</Table>
	</div>
	<div id="win">
		<!-- #{form @MyCounsellings.savemycounsel()} -->
		<form id="save-counselling-form" onSubmit="return false;">
			<table>
				<tr style="display:none">
					<td><label>Hosted by: </label></td>
					<td><label> <select id="dropDownList" name="username"
							value="">
								<option>DefaultUser</option> #{list items:userList, as:'user'}
								<option>${user ? user.name : ""}</option> #{/list}
						</select>
					</label></td>
				</tr>
				<tr>
					<td><label>Session for: </label></td>
					<td><label><input id="driver_name" name="driverName"
							value="" /></label></td>
				</tr>
				<tr>
					<td><label>Date:</label></td>
					<td><label> <input id="date" name="date" value="" /></label></td>
				</tr>
				<tr>
					<td><label>Start Time: </label></td>
					<td><label><input id="c-start-time" class="start-time" name="start"
							value="" /></label></td>
					<td><label>End Time: <input id="c-end-time" class="end-time"
							name="end" value="" />
					</label></td>
				</tr>
				<tr>
					<td><label>Remark:</label></td>
					<td><label><textarea id="remark" name="remark"
								value=""></textarea> </label></td>
				</tr>
				<tr>
					<button id="create-btn" data-bind="click: create">Create</button>
				</tr>
			</table>
			<div id="mytime-error" style="display: none;">
				<p style="color: red;">Sorry, the start time must be before the
					end time!</p>
			</div>
			<div id="required-error" style="display: none;">
				<p style="color: red;">Some fields cannot be empty !</p>
			</div>
			<div data-bind="visible: confirmed">
				<h4>Confirmation</h4>
				<div>
					You create a counselling for <span data-bind="text: driver"></span>
					<br /> <br />
					<button>Close</button>
				</div>
			</div>
			<!--#{/form}-->
		</form>
	</div>
</div>

<div id="counsel-edit">
	<form id="edit-counsel-form" onSubmit="return false;">
		<!-- #{form @MyCounsellings.updateCounsel()} -->
		<table>
			<tr style="display: none">
				<td><input id="counsel-id" value="" name="id" /></td>
			</tr>
			<tr style="display: none">
				<td><label>DefaultUser</label></td>
				<td><label> <select id="user-dropDownList"
						name="username" value="">
							<option>DefaultUser</option> #{list items:userList, as:'user'}
							<option>${user ? user.name : ""}</option> #{/list}
					</select>
				</label></td>
			</tr>
			<tr>
				<td><label>Session for: </label></td>
				<td><label><select id="driver-dropDownList"
						name="driverName" value="">
							<option>Select Driver</option>
							#{list items:driverList,as:'driver'}
							<option>${driver ? driver.name : ""}</option> #{/list}
					</select></label></td>
			</tr>
			<tr>
				<td><label>Date:</label></td>
				<td><label> <input id="edit-date" name="date" value="" /></label>
				</td>
			</tr>
			<tr>
				<td><label>Start Time: </label></td>
				<td><label><input id="edit-start-time" name="start"
						class="start-time" value="" /></label></td>
				<td><label>End Time: <input id="edit-end-time"
						class="end-time" name="end" value="" />
				</label></td>
			</tr>
			<tr>
				<td><label>Remark:</label></td>
				<td><label><textarea id="edit-remark" name="remark"
							value=""></textarea> </label></td>
			</tr>
			<tr>
				<button id="edit-btn" data-bind="click: edit">Edit</button>
			</tr>
		</table>
		<div id="edit-time-error" style="display: none;">
			<p style="color: red;">Sorry, the start time must be before the
				end time!</p>
		</div>
		<div data-bind="visible: confirmed">
			<h4>Confirmation</h4>
			<div>
				<button>Close</button>
			</div>
		</div>
		<!-- #{/form} -->
	</form>
</div>