<ul id="panelBar">
	
	<li class="k-state-active">
        Events Management
        <ul>
            <li url="/events/grid?id=events">Event List</li>
        </ul>
    </li>
    <li class="k-state-active">
        Fleets Management
        <ul>
            <li url="/fleets/grid?id=fleets">Fleets List</li>
        </ul>
    </li>
	
    <!--li class="k-state-active">
        Driver Management
        <ul >
            <li url="/drivers/grid?id=drivers">Driver List</li>
        </ul>
    </li>
    <li class="k-state-active">
        Vehicle Management
        <ul>
            <li url="/vehicles/grid?id=vehicles">Vehicle List</li>
            <li url="/vehicles/tree">Vehicle Tree</li>
        </ul>
    </li>
    
	<li  class="k-state-active">Counsel Management
		<ul>
			<li id="counsel_1" url="/counsellings/grid?id=1">Counseling List</li>
			<li id="counsel_2" url="/mycounsellings/grid?id=2">My Counseling List</li>
		</ul>
	</li>
	<li  class="k-state-active">System Configuration
		<ul>
			<li id="sys_config" url="/systemconfigs/grid?id=1">System Configuration</li>
		</ul>
	</li -->
</ul>

