<ul id="panelBar">

    <!--li class="k-state-active">
        Driver Management
        <ul>
            <li url="/drivers/grid?id=drivers">Driver List</li>
        </ul>
    </li>

    <li class="k-state-active">
        Vehicle Management
        <ul>
            <li url="/vehicles/grid?id=vehicles">Vehicle List</li>
            <li url="/vehicles/tree" id=vehicles_tree>Vehicle Tree</li>
        </ul>
    </li>

    

    <li class="k-state-active">
        Logs Management
        <ul>
            <li url="/logs/grid?id=logs">Log List</li>
        </ul>
    </li>

    <li class="k-state-active">
        Counsel Management
        <ul>
            <li id="counsel_1" url="/counsellings/grid?id=counsel">Counseling List</li>
            <li id="counsel_2" url="/mycounsellings/grid?id=mycounsel">My Counseling List</li>
        </ul>
    <li>

    <li class="k-state-active">
        Log Management
        <ul>
            <li url="/logs/grid?id=logs">Logs List</li>
        </ul>
    </li>

    <li class="k-state-active">
        Counsel Management
        <ul>
            <li id="counsel_1" url="/counsellings/grid?id=counsels">Counseling List</li>
            <li id="counsel_2" url="/mycounsellings/grid?id=mycounseling">My Counseling List</li>
        </ul>
    </li>

    <li class="k-state-active">
        System Configuration
        <ul>
            <li id="sys_config" url="/systemconfigs/grid?id=systemconfigs">System Configuration</li>
        </ul>
    </li-->
    
    <li class="k-state-active">
        Events Management
        <ul>
            <li url="/events/grid?id=events?id=event_list">Event List</li>
        </ul>
    </li>

    <li class="k-state-active">
        Fleets Management
        <ul>
            <li url="/fleets/grid?id=fleets">Fleets List</li>
        </ul>
    </li>

</ul>
