<form action="/permissions/search" method="post" class="k-content" onsubmit="return permissionSearchValidate(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_name">Action:</label>
	<input name="permAction" id="${grid.tabId}_name"/>
	
	<div style="height:3px"></div>
	
	<label for="${grid.tabId}_desc">Description:</label>
	<input name="desc" id="${grid.tabId}_desc" class="k-input k-textbox"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>

<script>

    $(document).ready(function(){
        $("#${grid.tabId}_name").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: #{verbatim} ${permActions} #{/verbatim}
        });
        
    	loadPerms("${grid.readUrl}");
    });
    
    function loadPerms(url, params){
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
		        if ((e.status && 403 == e.status) || (e.xhr && 403 == e.xhr.status))
		        	alert(e.responseText);
		        else{
		        	alert("Oops! 500 error!");
		        }
		    },
            transport: {
                read:  {
                    url: url,
                    dataType: "json",
                },
                update: {
                    url: "${grid.updateUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("create success");
                    }
                },
                parameterMap:function (options, operation) {
                    if (operation !== "read" && options.models) {
                    	var model = options.models[0];
                    	
                        return {models: kendo.stringify(options.models)};
                    }
                    
                    return params;
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
            	parse: function(data){
					
            		return data;
            	},
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        action: { validation: { required: true } },
                        desc: { validation: { required: true } }
                    }
                }
            }
        });
        
		$("#grid_${grid.tabId}").empty();
		
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command:["edit", "destroy"], title:"Actions", width:"200px" };
        /**
		 * 循环遍历columns，找到某个field，给其添加自定义的 editor
		 */
		$.each(columnsJson, function(i, v){
			var _field = columnsJson[i]['field'];
			if ("action" == _field){
		        columnsJson[i].editor = function(container, options){
			        $('<input name="action" />').appendTo(container).kendoComboBox({
				        dataTextField: "text",
				        dataValueField: "value",
				        autoBind: false,
				        dataSource: {
                            type: "json",
                            serverPaging: true,
                            pageSize: 20,
                            transport: {
                                read: "/permissions/actions"
                            }
                        },
                        open: function(){
                        	
                        }
				    });
				};
			}
		});
		
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource:dataSource,
            pageable:true,
            scrollable:true,
            sortable:true,
            selectable:true,
            toolbar:["create"],
            columns:columnsJson,
            editable:"${grid.editable}"
        });
    }
    
    function permissionSearchValidate(form) {
    	var $form = $(form);
    	loadPerms($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }

</script>
