<form action="/vehicles/search" method="post" class="k-content" style="padding:10px 0;" onsubmit="return vehicleSearchValidate(this)">

    <label for="${grid.tabId}_number">Number:</label>
    <input name="number" id="${grid.tabId}_number" class="k-input k-textbox"/>

    <label for="${grid.tabId}_license">License:</label>
    <input name="license" id="${grid.tabId}_license" class="k-input k-textbox"/>

    <label for="${grid.tabId}_cctvIp">cctvIp:</label>
    <input name="cctvIp" id="${grid.tabId}_cctvIp" class="k-input k-textbox"/>

    <label for="${grid.tabId}_description">Descript:</label>
    <input name="description" id="${grid.tabId}_description" class="k-input k-textbox"/>

    <div style="height:3px"></div>
    
    <label for="${grid.tabId}_type">Type:</label>
    <input name="type" id="${grid.tabId}_type"/>
    
	<label for="${grid.tabId}_fleet_id">Fleet:</label>
    <input name="fleetName" id="${grid.tabId}_fleet_id" />

    <label for="${grid.tabId}_device_id">Device:</label>
    <input name="deviceName" id="${grid.tabId}_device_id" />

    <div style="float:right; padding-right:20px;">
        <input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px" value=""/>
    </div>

</form>

<div id="${grid.tabId}_grid"></div>


<script type="text/javascript">
    var fleetsJson = #{verbatim} ${fleets} #{/verbatim};
    var deviceJson = #{verbatim} ${devices} #{/verbatim};

    $(document).ready(function () {

        loadVehicles("${grid.readUrl}");

		$("#${grid.tabId}_type").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: [{text:"bus", value:"bus"},{text:"car", value:"car"}]
        });
        
        $("#${grid.tabId}_fleet_id").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: fleetsJson
        });

        $("#${grid.tabId}_device_id").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: deviceJson
        });
		
    });

    function loadVehicles(url, params) {
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
		        if ((e.status && 403 == e.status) || (e.xhr && 403 == e.xhr.status))
		        	alert(e.responseText);
		        else{
		        	alert("Oops! 500 error!");
		        }
		    },
            transport:{
                read:{
                    url:url,
                },
                update:{
                    url:"${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy:{
                    url:"${grid.destroyUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create:{
                    url:"${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("create success");
                    }
                },
                parameterMap:function (data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models:kendo.stringify(data.models)};
                    }
                    return params;
                }
            },
            batch:true,
            pageSize:15,
            schema:{
                model:{
                    id:"id",
                    fields:{
                        id:{ editable:false, nullable:true },
                        number:{ type:"string", validation:{ required:true } },
                        license:{ type:"string", validation:{ required:true } },
                        fleetName:"FleetName",
                        deviceName:"DeviceName",
                        description:{ type:"string", validation:{ required:true }},
                        cctvIp:{ type:"string", validation:{ required:true }},
                        type:{ type:"string", validation:{ required:true }}
                    }
                }
            }
        });
        $("#${grid.tabId}_grid").empty();
        //columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
        columnsJson = [
            {
                field:"number",
                title:"Number"
            },
            {
                field:"license",
                title:"License"
            },
            {
                field:"fleetName",
                title:"Fleet Name",
                editor:fleetDropDownEditor
            },
            {
                field:"deviceName",
                title:"Device Name",
                editor:deviceDropDownEditor
            },
            {
                field:"description",
                title:"Description"
            },
            {
                field:"cctvIp",
                title:"Cctv Ip"
            },
            {
                field:"type",
                title:"Type",
                editor:function(c, o){
                	$('<input name="type" id="${grid.tabId}_type"/>')
			            .appendTo(c).kendoComboBox({
				            dataTextField:"text",
				            dataValueField:"value",
				            dataSource: [{text:"bus", value:"bus"},{text:"car", value:"car"}]
			        	});
                }
            }
        ];
        columnsJson[columnsJson.length] = { command:"destroy", title:"Actions", width:"100" };
        var grid = $("#${grid.tabId}_grid").kendoGrid({
            dataSource:dataSource,
            columns:columnsJson,
            toolbar:["create", "save", "cancel"],
            scrollable:true,
            sortable:true,
            pageable:true,
            selectable:false,
            editable:true
        }).data("kendoGrid");


    }

    function vehicleSearchValidate(form) {
        var $form = $(form);
        loadVehicles($form.attr("action"), $form.serializeArray());
        return false;
    }

    function fleetDropDownEditor(container, options) {
        $('<input name="fleetName" />')
                .appendTo(container).kendoComboBox({
                	dataTextField:"text",
				    dataValueField:"value",
                    dataSource: fleetsJson
                });
    }

    function deviceDropDownEditor(container, options) {
        $('<input name="deviceName" />')
                .appendTo(container).kendoComboBox({
                   	dataTextField:"text",
				    dataValueField:"value",
                    dataSource: deviceJson
                });
    }
</script>
