#{extends theme+'/main.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="${static_dir}/${theme}/css/pagination.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="${static_dir}/css/kendo.common.min.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="${static_dir}/css/kendo.default.min.css"/>
#{/set}
#{set 'moreScripts'}
<script src="${static_dir}/js/kendo.web.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/vehicle.js" type="text/javascript"></script>
#{/set}


<script>
    var treedata = #{verbatim} ${vehicleJson} #{/verbatim};
</script>

<script id="treeview-template" type="text/kendo-ui-template">
    #= item.text #
    # if (!item.items) { #
    <a class='delete-link' href='\#'></a>
    # } #
</script>

<script id="treeview-checkbox-template" type="text/kendo-ui-template">
    <!-- # var name = "checkedFiles[" + item.id + "]"; # -->
    # var name = item.id; #
    <!-- uncomment the next line to get default checkbox values (RoR, ASP.NET MVC) -->
    <!-- <input type="hidden" name="#= name #" value="false" /> -->
    <input type="checkbox" name="#= name #" checked="checked" value="true"/>
</script>


<div id="search-block">
    <form id="search-form">
        <label>No:
            <input id="number"/>
        </label>
        <label>License:
            <input id="license"/>
        </label>
        <label>
            <select id="dropDownList">
                <option>Select Fleet</option>
            #{list items:fleetList, as:'fleet'}
                <option>
                ${fleet.name  ? fleet.name : ''}
                </option>
            #{/list}}
            </select>
        </label>
        <label>
            <select id="dropDownList2">
                <option>Select Device</option>
            #{list items:deviceList, as:'device'}
                <option>
                ${device.name  ? device.name : ''}
                </option>
            #{/list}}
            </select>
        </label>
        <button data-bind="click: search">Search</button>
        <button id="add-vehicle">Add</button>
    </form>
</div>

<div id="vehicle-list" class="profile-list show-list">
    <div style="text-align:left" id="grid">

    </div>

    <div id="treeview" class="demo-section" style="width:150px;"></div>
</div>


<div id="add-win">
    <form id="add-form">
        <table id="grid3">
            <tr>
                <td>
                    <label>No: </label>
                </td>
                <td>
                    <label><input type="text" id="no_add"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>License: </label>
                </td>
                <td>
                    <label><input type="text" id="license_add"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fleet: </label>
                </td>
                <td>
                    <label>
                        <select id="dropDownList1">
                            <option>Select Fleet</option>
                        #{list items:fleetList, as:'fleet'}
                            <option>
                            ${fleet.name  ? fleet.name : ''}
                            </option>
                        #{/list}}
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Device: </label>
                </td>
                <td>
                    <label>
                        <select id="dropDownList3">
                            <option>Select Device</option>
                        #{list items:deviceList, as:'device'}
                            <option>
                            ${device.name  ? device.name : ''}
                            </option>
                        #{/list}}
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>cctvIP: </label>
                </td>
                <td>
                    <label><input type="text" id="cctvip_add"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Type: </label>
                </td>
                <td>
                    <label><input type="text" id="type_add"/> </label>
                </td>
            </tr>
            <tr>
                <button id="add-btn" data-bind="click: add">Add vehicle</button>
            </tr>
            <tr>
                <td><label>Description:</label></td>
                <td><label><textarea id="description_add"></textarea> </label></td>
            </tr>
        </table>
        <div data-bind="visible: confirmed">
            <h4>Confirmation</h4>

            <div>
                You add a vehicle </span>
            </div>
        </div>
    </form>
</div>


<div id="win-edit">
    <form id="edit-form">
        <table id="grid4">
            <tr>
                <td>
                    <label>No: </label>
                </td>
                <td>
                    <label><input type="text" id="no_edit" data-bind="value: vehicle_no"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>License: </label>
                </td>
                <td>
                    <label><input type="text" id="license_edit" data-bind="value: vehicle_license"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fleet: </label>
                </td>
                <td>
                    <label><input type="text" id="fleet_edit" data-bind="value: vehicle_fleet"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Device: </label>
                </td>
                <td>
                    <label><input type="text" id="device_edit" data-bind="value: vehicle_device"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>cctvIP: </label>
                </td>
                <td>
                    <label><input type="text" id="cctvip_edit" data-bind="value: vehicle_cctvip"/> </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Type: </label>
                </td>
                <td>
                    <label><input type="text" id="type_edit" data-bind="value: vehicle_type"/> </label>
                </td>
            </tr>
            <tr>
                <button id="edit-btn" data-bind="click: update">Edit vehicle</button>
            </tr>
            <tr>
                <td><label>Description:</label></td>
                <td><label><textarea id="description_edit" data-bind="value: vehicle_description"></textarea> </label>
                </td>
            </tr>
        </table>
        <div data-bind="visible: confirmed">
            <h4>Confirmation</h4>

            <div>
                You update a vehicle </span>
            </div>
        </div>
    </form>
</div>


