#{set 'moreScripts'}
<script src="/public/js/esri.ux.layers.ClusterLayer-debug-event.js" type="text/javascript"></script>
#{/set}
#{extends theme+'/main_head.html' /}
<div id="path-view-on-map-splitter" style="width:99%; height:99%;">
	<form action="/vehicles/searchPath" method="post" onsubmit="return pathSearchValidate(this)">
		<div style="height:8px;"></div>
		<label for="path-vehicles"  style="width:80px;">Vehicle:</label>
		<input name="vehicleNo" id="path-vehicles"/>
		<label id="path-schedules-label" for="path-schedules" style="width:75px;">Schedule:</label>
		<input style="width:250px" id="path-schedules"/>
		
		<div style="height:8px;"></div>
		<label for="path-start-date"  style="width:80px;">StartDate:</label>
		<input name="startDate" id="path-start-date" class="date" />
		<label for="path-start-time"  style="width:80px;">StartTime:</label>
		<input name="startTime" id="path-start-time" style="width:99px;" />
		
		<div style="height:8px;"></div>
		<label for="path-end-date"  style="width:80px;">EndDate:</label>
		<input name="endDate" id="path-end-date" class="date" />
		<label for="path-end-time"  style="width:80px;">EndTime:</label>
		<input name="endTime" id="path-end-time" style="width:99px;" />
		
		<div style="float:right; padding-right:20px;">
			<input type="submit" id="path-search-button" class="k-button search-button" style="width:50px;" value="&nbsp;"/>
		</div>
	</form>
	
	<div id="path-map-view" region="center" style=" position:relative;"></div>
</div>

<script>

var map = "";//用于vmsMap.js中
var map_id = "path-map-view";//用于vmsMap.js中

</script>
<script src="${static_dir}/js/vmsMap.js" type="text/javascript" charset="utf-8"></script>

<script>
(function($){
	$.getUrlParam = function(name){
	var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
	var r = window.location.search.substr(1).match(reg);
	if (r!=null) return unescape(r[2]);
	 return null;
	}
})(jQuery);

var view_on_map_splitter;

$(document).ready(function(){
	view_on_map_splitter = $("#path-view-on-map-splitter").kendoSplitter({
		orientation: "vertical",
		panes: [
            { collapsible: false, resizable:false, size: "130px", min: "130px"},//up
            { collapsible: false, resizable:false,},//middle 
        ],
        resize:function(e){
            //if is the first time loading, the map is not required to resize
            if (map && map != ""){
                map.resize();
      		    map.reposition();
      	    }
        }
	}).data("kendoSplitter");
	
	var vehicleCombo = #{verbatim} ${vehicles} #{/verbatim};
	var _index = 0;
	$.each( vehicleCombo, function(i, v){
		if (v.value == "${vehicleNo}"){
			_index = i;
			return ;
		}
	});
	
    var vehicleSelect = $("#path-vehicles").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value", 
        dataSource: vehicleCombo,
        index: _index,
        change: function() {
            var value = this.value();
            var text = this.text();
		    $.getJSON("/vehicles/schedules", {vehicleNo:value}, function(schedules){
		    	createScheduleComboBox(schedules);
		    });
        }
    });
    
    var scheduleCombo = #{verbatim} ${schedules} #{/verbatim};
    createScheduleComboBox(scheduleCombo);
    
    $("#path-start-date").kendoDatePicker({
        format:"yyyy-MM-dd"
    });

	$("#path-end-date").kendoDatePicker({
        format:"yyyy-MM-dd"
    });
    
    $("#path-start-time, #path-end-time").kendoTimePicker({
        format:"HH:mm",
        interval:1
    });
    
});


function loadPath(url, params){
	$.getJSON(url, params, function(points){
		map.graphics.clear();
		if (!points || points.length == 0){
			alert("no data");
			return ;
		}
		
		initRouteTask(points);
	}).error(function(e){
     	alert(e.responseText);
	});
}

function pathSearchValidate(form) {
    var $form = $(form);
    
    var startTimePicker = $("#path-start-time").data("kendoTimePicker");
    if (startTimePicker.value() == null) {
        startTimePicker.value("00:00");
    }
    var endTimePicker = $("#path-end-time").data("kendoTimePicker");
    if (endTimePicker.value() == null) {
        endTimePicker.value("00:00");
    }
    
    var params = $form.serializeArray();
    loadPath($form.attr("action"), params);
    
    return false;
}

function createScheduleComboBox(schedules){
	$("#path-schedules").attr("value", "");
	$("#path-schedules").kendoComboBox({
   		dataTextField: "text",
    	dataValueField: "value",
    	dataSource: schedules,
    	placeholder: "please choose schedule...",
    	change: function(){
    		var value = this.value();
			var text = this.text();
			
			var start = text.split(",")[0];
			var startDate = start.split(" ")[0];
			var startTime = start.split(" ")[1];
			
			var end = jQuery.trim(text.split(",")[1]);
			var endDate = end.split(" ")[0];
			var endTime = end.split(" ")[1];
			
			$("#path-start-date").data("kendoDatePicker").value(startDate);
			$("#path-start-time").data("kendoTimePicker").value(startTime);
			$("#path-end-date").data("kendoDatePicker").value(endDate);
			$("#path-end-time").data("kendoTimePicker").value(endTime);
    		//loadPath("/vehicles/routes", {scheduleId:value, startDate:startDate, startTime:startTime, endDate:endDate, endTime:endTime});
    	}
	});
}

function initRouteTask(points){
	alert(JSON.stringify(points));
	var path = {"paths":[points],"spatialReference":{"wkid":3414}};
          	
	// 路径点轨迹
	var line = new esri.geometry.Polyline(path);

	// 路线图形样式
	var routeSymbol = new esri.symbol.SimpleLineSymbol().setColor(new dojo.Color("green")).setWidth(3);
	map.graphics.add(new esri.Graphic(line, routeSymbol));
	
	// 首节点图形样式
	var startNodeSymbol;
	//startNodeSymbol = new esri.symbol.SimpleMarkerSymbol().setStyle(esri.symbol.SimpleMarkerSymbol.STYLE_CIRCLE).setSize(10);
    //startNodeSymbol.outline.setWidth(2);
    //startNodeSymbol.outline.setColor(new dojo.Color("red"));
    startNodeSymbol = new esri.symbol.PictureMarkerSymbol('/public/images/start-icon.png', 24, 34);
    // 尾节点图形样式
    var endNodeSymbol;
    //endNodeSymbol = new esri.symbol.SimpleMarkerSymbol().setStyle(esri.symbol.SimpleMarkerSymbol.STYLE_X).setSize(10);
    //endNodeSymbol.outline.setWidth(2);
    //endNodeSymbol.outline.setColor(new dojo.Color("red"));
    endNodeSymbol = new esri.symbol.PictureMarkerSymbol('/public/images/end-icon.png', 24, 34);
    // var endNodeSymbol = new esri.symbol.TextSymbol("End").setAlign(esri.symbol.TextSymbol.ALIGN_END).setColor(new dojo.Color("red"));
    
    // 坐标系
	var spatial = new esri.SpatialReference({ wkid:4326 })
    // 首节点
    var startNodePoint = new esri.geometry.Point(points[0], spatial); 
    var startNode = new esri.Graphic(startNodePoint, startNodeSymbol);
    map.graphics.add(startNode);
    
    // 尾节点
    var endNodePoint = new esri.geometry.Point(points[points.length-1], spatial); 
    var endNode = new esri.Graphic(endNodePoint, endNodeSymbol);
    map.graphics.add(endNode);
}
</script>