<label class="info" style="width:80px;">Number:</label>
<input name="number" id="number"/>

<label class="info">Fleet Name</label>
<input name="fleetid" id="fleet_id"/>

<div style="float:right; padding-right:20px;">
    <input type="submit" id="search-button" class="k-button" value="Search"/>
</div>
<div style="height:8px"></div>
<div id="treeView"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#treeView").kendoTreeView({
            dataSource: #{verbatim} ${treeData} #{/verbatim},
            dragAndDrop:false
        })

        $("#fleet_id").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: #{verbatim} ${fleets} #{/verbatim}
        });

        $("#search-button").click(function (e) {
            fleetid = $("#fleet_id").val();
            alert(fleetid);

            var treeView = $("#treeView").data("kendoTreeView");
            treeView.expand(".k-item");

            e.preventDefault();
        })

    });

</script>