<div class="k-content" style="padding:10px 0;">
	<label for="tree_fleet_id">Fleet Name:</label>
	<input name="fleetid" id="tree_fleet_id"/>
	
	<label for="tree_number">Number:</label>
	<input name="number" id="tree_number" class="k-input k-textbox"/>
	
	<div style="float:right; padding-right:20px;">
	    <input type="submit" id="tree_search-button" style="width:auto;" class="k-button" value="Search"/>
	</div>
</div>
<div style="height:8px"></div>
<div id="treeView"></div>

<script type="text/javascript">
    function loadTree(data) {
        $("#treeView").kendoTreeView({
            dataSource:data,
            dragAndDrop:false
        });
    }

    $(document).ready(function () {

        loadTree(#{verbatim} ${treeData} #{/verbatim});

        $("#tree_fleet_id").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: #{verbatim} ${fleets} #{/verbatim}
        });

        $("#tree_search-button").click(function (e) {
            fleetid = $("#tree_fleet_id").val();
            number = $("#tree_number").val();

            $.getJSON(
                    "/vehicles/searchTree",
                    {
                        fleetid:fleetid,
                        number:number
                    },
                    function (data) {
                        var treeView = $("#treeView").data("kendoTreeView");
                        treeView.remove(".k-item");
                        treeView.append(data);
                        treeView.expand(".k-item");
                        if (number.length != 0) {
                            treeView.select(".k-item li:contains(" + number + ")");
                        } else {
                            treeView.select(".k-first");
                        }
                    }
            );
        })
    });
</script>