<style>

	.k-content{
		background:#f3f3f3;
	}
	
    .k-autocomplete{
    }
    
    .info{
    	border:none;
        padding: 3px 5px 7px 5px;
        display:inline-block;
        width:120px;
        text-align:right;
    }
</style>

<form action="/fleets/search" method="post" class="k-content search-wrap" onsubmit="return fleetSearchValidate(this)" style="padding:20px 0 10px 10px;">
	
	<label for="name" class="info" style="width:30px">Name:</label>
	<input name="name" id="name"/> 
	
	<label for="placeNumber" class="info">Place Number:</label>
	<input name="placeNumber" id="placeNumber"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="search-button" class="k-button" value="Search" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>

<script>
    $(document).ready(function () {
        
        loadFleets("/Fleets/read");
    	
    	 $("#name").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: #{verbatim} ${names} #{/verbatim}
	    });
    	
    	$("#placeNumber").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: #{verbatim} ${placeNumbers} #{/verbatim}
	    });
	    
    });
    
    function fleetSearchValidate(form) {
		var $form = $(form);
		
		loadFleets($form.attr("action"), $form.serializeArray());
		
		return false;
	}
    
    function loadFleets(url, params){
    	$("#grid_${grid.tabId}").empty();
    	var dataSource = new kendo.data.DataSource({
            transport: {
                read:  { 
                    url: url,
                    dataType: "json"
                },
                update: {
                    url: "${grid.updateUrl}",
                    dataType: "json"
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    dataType: "json"
                },
                create: {
                    url: "${grid.createUrl}",
                    dataType: "json"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                    
                    return params;
                }
            },
            batch: true,
            pageSize: 18,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        name: { validation: { required: true } },
                        parent: { },
                        description: { validation: { required: true } },
                        placeNumber: { validation: { required: true } },
                    }

                }
            }
        });
        
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command: ["edit", "destroy"], title: "&nbsp;", width: "210px" };
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: "auto",
            toolbar: ["create"],
            columns: columnsJson,
            editable: "${grid.editable}"
        });
    }
    
</script>
