<form action="/fleets/search" method="post" class="k-content" onsubmit="return fleetSearchValidate(this)" style="padding:10px 0;">
	<label for="${grid.tabId}_name">Fleet Name:</label>
	<input name="name" id="${grid.tabId}_name"/> 
	<label for="${grid.tabId}_placeNumber">Place No:</label>
	<input name="placeNumber" id="${grid.tabId}_placeNumber"/>
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="&nbsp;" />
	</div>
</form>

<div id="grid_${grid.tabId}"></div>
<script src="/public/js/vms_validation.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        loadFleets("/Fleets/read");
    	
    	 $("#${grid.tabId}_name").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: #{verbatim} ${names} #{/verbatim}
	    });
    	
    	$("#${grid.tabId}_placeNumber").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: #{verbatim} ${placeNumbers} #{/verbatim}
	    });
    });
    
    function fleetSearchValidate(form) {
		var $form = $(form);
		loadFleets($form.attr("action"), $form.serializeArray());
		
		return false;
	}
    
    function loadFleets(url, params){
		var _grid = $("#grid_${grid.tabId}").data("kendoGrid");
		if (_grid){
			_grid.dataSource.transport.options.read.url = url;	
			if (params){
				_grid.dataSource.transport.parameterMap = function(data, operation){
					if (operation !== "read" && data.models) {
	                    return {models: kendo.stringify(data.models)};
	                }
	                
	        		$.each(params, function(i,v){
						data[v.name] = v.value;
	        		});
	        		
	        		return data;
	        	}
	        }
	        
			_grid.dataSource.read();
			
			return ;
		}
		
    	var dataSource = new kendo.data.DataSource({
    		error: function(e) {
	        	alert(e.responseText);
	        	_grid.cancelChanges();//roll back 
		    },
            transport: {
                read:  { 
                    url: url
                },
                update: {
                    url: "${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("update success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("delete success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("create success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                parameterMap: function(data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models: kendo.stringify(data.models)};
                    }
                    
                    return data;
                }
            },
            batch: true,
            pageSize: 10,
            serverPaging: true,
            schema: {
            	total: "total",
            	data: "fleets",
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        name: { validation: { required: true } },
                        parentName: { },
                        description: { },
                        placeNumber: {
                        	validation: {
                        		required: true,
	                            custom: function(input) {
	                            	var name = input.attr("name");
	                            	if (name != "parentName" && name != "description" && name != "parentName_input")
	                            		return validate_empty(input);
	                            	
	                            	return true;
	                            }
                        	}
                        },
                    }
                }
            }
        });
        
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command: ["edit", "destroy"], title: "Action", width: "200px" };
		
		/**
		 * 循环遍历columns，找到某个field，给其添加自定义的 editor
		 */
		$.each(columnsJson, function(i, v){
			var _field = columnsJson[i]['field'];
			if ('parentName' === _field){
				columnsJson[i].editor = function(container, options){
			        $('<input name="parentName" />').appendTo(container).kendoComboBox({
				        dataTextField: "text",
				        dataValueField: "value",
				        dataSource: #{verbatim} ${names} #{/verbatim}
				    });
				};
				
				return ;
			}
			
		});
		
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            selectable: true,
            scrollable: true,
            resizable: true,
            toolbar: ["create"],
            columns: columnsJson,
            editable: "popup",
            navigatable: true
        });
        
        _grid = $("#grid_${grid.tabId}").data("kendoGrid");
    }
    
</script>
