<form action="/departments/search" method="post" class="k-content" onsubmit="return departmentSearchValidate(this)" style="padding:10px 0;">
	<label for="${grid.tabId}_name">Name:</label>
	<input name="name" id="${grid.tabId}_name"/> 
	<label for="${grid.tabId}_parent">Parent:</label>
	<input name="parent" id="${grid.tabId}_parent"/>
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="" />
	</div>
</form>

<div id="grid_${grid.tabId}"></div>

<script>
    $(document).ready(function () {
        loadDepartments("/departments/read");
    	
    	 $("#${grid.tabId}_name").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: #{verbatim} ${names} #{/verbatim}
	    });
    	
    	$("#${grid.tabId}_parent").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: #{verbatim} ${parents} #{/verbatim}
	    });
    });
    
    function departmentSearchValidate(form) {
		var $form = $(form);
		loadDepartments($form.attr("action"), $form.serializeArray());
		
		return false;
	}
    
    function loadDepartments(url, params){
    	$("#grid_${grid.tabId}").empty();
    	var dataSource = new kendo.data.DataSource({
    		error: function(e) {
		        if ((e.status && 403 == e.status) || (e.xhr && 403 == e.xhr.status))
		        	alert(e.responseText);
		        else{
		        	alert("Oops! 500 error!");
		        }
		    },
            transport: {
                read:  { 
                    url: url
                },
                update: {
                    url: "${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("create success");
                    }
                },
                parameterMap: function(data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models: kendo.stringify(data.models)};
                    }
                    
                    return params;
                }
            },
            batch: true,
            pageSize: 18,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        name: { validation: { required: true } },
                        parentName: { },
                    }

                }
            }
        });
        
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command: "destroy", title: "&nbsp;", width: "100px" };
		
		/**
		 * 循环遍历columns，找到某个field，给其添加自定义的 editor
		 */
		$.each(columnsJson, function(i, v){
			var _field = columnsJson[i]['field'];
			
			if ('parentName' === _field){
				columnsJson[i].editor = function(container, options){
			        $('<input name="parentName" />').appendTo(container).kendoComboBox({
				        dataTextField: "text",
				        dataValueField: "value",
				        dataSource: #{verbatim} ${names} #{/verbatim}
				    });
				};
				
				return ;
			}
		});
		
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            selectable: false,
            toolbar: ["create", "save", "cancel"],
            columns: columnsJson,
            editable: true,
            navigatable: true
        });
    }
    
</script>
