<form action="/logs/search" method="post" class="k-content" onsubmit="return logSearchValidate(this)" style="padding:10px 0;">

	<label for="${grid.tabId}_user_name">UserName:</label>
    <input name="userName" id="${grid.tabId}_user_name"/>
    
    <label for="${grid.tabId}_type">Type:</label>
    <input name="type" id="${grid.tabId}_type" class="k-input k-textbox"/>

	<div style="height:8px"></div>
	
    <label for="${grid.tabId}_name">Name:</label>
    <input name="name" id="${grid.tabId}_name" class="k-input k-textbox" />

    <label for="${grid.tabId}_content">Content</label>
    <input name="content" id="${grid.tabId}_content" class="k-input k-textbox"/>
	
	<div style="height:8px"></div>
	
    <label for="${grid.tabId}_actions">Action</label>
    <input name="actions" id="${grid.tabId}_actions" class="k-input k-textbox" />

    <label for="${grid.tabId}_ip">IP:</label>
    <input name="ip" id="${grid.tabId}_ip" class="k-input k-textbox" />

	<div style="height:8px"></div>    

    <label for="${grid.tabId}_startDate">Start Date:</label>
    <input name="startDate" id="${grid.tabId}_startDate"/>

    <label for="${grid.tabId}_startTime" >Start Time:</label>
    <input name="startTime" id="${grid.tabId}_startTime" />

	<div style="height:8px"></div>
	
    <label for="${grid.tabId}_endDate">End Date:</label>
    <input name="endDate" id="${grid.tabId}_endDate" />

    <label for="${grid.tabId}_endTime">End Time:</label>
    <input name="endTime" id="${grid.tabId}_endTime"/>


    <div style="float:right; padding-right:20px;">
        <input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="&nbsp;"/>
    </div>

</form>

<div id="grid_${grid.tabId}"></div>

<script type="text/javascript">

    $(document).ready(function () {
        loadLogs("${grid.readUrl}");

        $("#${grid.tabId}_user_name").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: #{verbatim} ${users} #{/verbatim}
        });

        $("#${grid.tabId}_startDate,#${grid.tabId}_endDate").kendoDatePicker({
            format:"yyyy-MM-dd"
        });

        $("#${grid.tabId}_startTime, #${grid.tabId}_endTime").kendoTimePicker({
            format:"HH:mm",
            interval:1
        });
    });

    function loadLogs(url, params) {
    	var _grid = $("#grid_${grid.tabId}").data("kendoGrid");
    	if (_grid){
    		_grid.dataSource.transport.options.read.url = url;	
    		if (params){
    			_grid.dataSource.transport.parameterMap = function(data, operation){
    				if (operation !== "read" && data.models) {
                        return {models:kendo.stringify(data.models)};
                    }
                    
            		$.each(params, function(i,v){
						data[v.name] = v.value;
            		});
            		
            		return data;
            	}
            }
            
    		_grid.dataSource.read();
    		
    		return ;
    	}
    	
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
        		var err = e.responseText;
        		if (!err || $.trim(err).length == 0)
        			err = "server error or connection failed";
        		alert(err);
        		
	        	_grid.cancelChanges();//roll back 
		    },
            transport:{
                read:{
                    url:url,
                    dataType:"json"
                },
                destroy:{
                    url:"${grid.destroyUrl}",
                    dataType:"json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("delete success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                parameterMap:function (data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models:kendo.stringify(data.models)};
                    }
                    
                    return data;
                }
            },
            batch:true,
            pageSize:8,
            serverPaging: true,
            schema:{
            	data: "logs",
            	total: "total",
                model:{
                    id:"id",
                    fields:{
                        id:{ editable:false, nullable:true },
                        type:{ validation:{ required:true } },
                        name:{ validation:{ required:true } },
                        content:{ validation:{ required:true } },
                        action:{ validation:{ required:true } },
                        userName:{ validation:{ required:true } },
                        ip:{ validation:{ required:true } },
                        dateTime:{ validation:{ required:true } }
                    }
                }
            }
        });

        var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
        columnsJson[columnsJson.length] = { command:["destroy"], title:"Action", width:"100px" };
        $.each(columnsJson, function(i, v){
        	if (v.field == 'content'){
        		v.width = "400px";
        	}else if (v.field == 'dateTime' || v.field == 'type'){
        		v.width = "135px";
        	}
        });
        
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource:dataSource,
            pageable:true,
            resizable:true,
            sortable:true,
            navigatable:true,
            selectable:true,
            columns:columnsJson,
            editable: "${grid.editable}"
        }).data("kendoGrid");
        
        _grid = $("#grid_${grid.tabId}").data("kendoGrid");
    }

    function logSearchValidate(form) {
        var $form = $(form);

        var startTimePicker = $("#${grid.tabId}_startTime").data("kendoTimePicker");
        if (startTimePicker.value() == null) {
            startTimePicker.value("00:00");
        }
        var endTimePicker = $("#${grid.tabId}_endTime").data("kendoTimePicker");
        if (endTimePicker.value() == null) {
            endTimePicker.value("00:00");
        }

        var params = $form.serializeArray();
        loadLogs($form.attr("action"), params);
        return false;
    }
</script>
