<form action="/logs/search" method="post" class="k-content" onsubmit="return logSearchValidate(this)" style="padding:10px 0;">

    <label for="${grid.tabId}_type">Type:</label>
    <input name="type" id="${grid.tabId}_type" class="k-input k-textbox"/>

    <label for="${grid.tabId}_name">Name:</label>
    <input name="name" id="${grid.tabId}_name" class="k-input k-textbox" />

    <label for="${grid.tabId}_content">Content</label>
    <input name="content" id="${grid.tabId}_content" class="k-input k-textbox"/>

	<div style="height:8px"></div>
    <br>

    <label for="${grid.tabId}_actions">Action</label>
    <input name="actions" id="${grid.tabId}_actions" class="k-input k-textbox" />

    <label for="${grid.tabId}_user_name">UserName:</label>
    <input name="userid" id="${grid.tabId}_user_name"/>

    <label for="${grid.tabId}_ip">IP:</label>
    <input name="ip" id="${grid.tabId}_ip" class="k-input k-textbox" />
    
    <div style="height:8px"></div>
    <br>

    <label for="${grid.tabId}_startDate">Start Date:</label>
    <input name="startDate" id="${grid.tabId}_startDate"/>

    <label for="${grid.tabId}_startTime" >Start Time:</label>
    <input name="startTime" id="${grid.tabId}_startTime" />

    <label for="${grid.tabId}_endDate">End Date:</label>
    <input name="endDate" id="${grid.tabId}_endDate" />

    <label for="${grid.tabId}_endTime">End Time:</label>
    <input name="endTime" id="${grid.tabId}_endTime"/>


    <div style="float:right; padding-right:20px;">
        <input type="submit" id="${grid.tabId}_search-button" class="k-button" style="width:auto;" value="Search"/>
    </div>

</form>

<div id="grid_${grid.tabId}"></div>

<script type="text/javascript">

    $(document).ready(function () {
        loadLogs("${grid.readUrl}");

        $("#${grid.tabId}_user_name").kendoComboBox({
            dataTextField:"text",
            dataValueField:"value",
            dataSource: #{verbatim} ${users} #{/verbatim}
        });

        $("#${grid.tabId}_startDate,#${grid.tabId}_endDate").kendoDatePicker({
            format:"yyyy-MM-dd"
        });

        $("#${grid.tabId}_startTime, #${grid.tabId}_endTime").kendoTimePicker({
            format:"HH:mm",
            interval:1
        });
    });

    function loadLogs(url, params) {
        var dataSource = new kendo.data.DataSource({
            transport:{
                read:{
                    url:url,
                    dataType:"json"
                },
                update:{
                    url:"${grid.updateUrl}",
                    dataType:"json"
                },
                destroy:{
                    url:"${grid.destroyUrl}",
                    dataType:"json"
                },
                create:{
                    url:"${grid.createUrl}",
                    dataType:"json"
                },
                parameterMap:function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models:kendo.stringify(options.models)};
                    }
                    return params;
                }
            },
            batch:true,
            pageSize:15,
            schema:{
                model:{
                    id:"id",
                    fields:{
                        id:{ editable:false, nullable:true },
                        type:{ validation:{ required:true } },
                        name:{ validation:{ required:true } },
                        content:{ validation:{ required:true } },
                        action:{ validation:{ required:true } },
                        userName:{ validation:{ required:true } },
                        ip:{ validation:{ required:true } },
                        dateTime:{ validation:{ required:true } }
                    }

                }
            }
        });

        var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
        $("#grid_${grid.tabId}").empty();
        columnsJson[columnsJson.length] = { command:["destroy"], title:"Action", width:"100px" };
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource:dataSource,
            pageable:true,
            height:"auto",
            columns:columnsJson,
            editable:"${grid.editable}"
        }).data("kendoGrid");
    }

    function logSearchValidate(form) {
        var $form = $(form);

        var startTimePicker = $("#${grid.tabId}_startTime").data("kendoTimePicker");
        if (startTimePicker.value() == null) {
            startTimePicker.value("00:00");
        }
        var endTimePicker = $("#${grid.tabId}_endTime").data("kendoTimePicker");
        if (endTimePicker.value() == null) {
            endTimePicker.value("00:00");
        }

        var params = $form.serializeArray();
        loadLogs($form.attr("action"), params);
        return false;
    }
</script>
