
<form action="/roles/search" method="post" class="k-content" onsubmit="return roleSearchValidate(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_name">Role Name:</label>
	<input name="roleName" id="${grid.tabId}_name" class="k-input k-textbox"/>
	
	<label for="${grid.tabId}_desc">Description:</label>
	<input name="desc" id="${grid.tabId}_desc" class="k-input k-textbox"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="&nbsp" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>
<script src="/public/js/vms_validation.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function(){
    	loadRoles("${grid.readUrl}");
    });
    
    function loadRoles(url, params){
		var _grid = $("#grid_${grid.tabId}").data("kendoGrid");
		if (_grid){
			_grid.dataSource.transport.options.read.url = url;	
			if (params){
				_grid.dataSource.transport.parameterMap = function(data, operation){
					if (operation !== "read" && data.models) {
		                return {models:kendo.stringify(data.models)};
		            }
		            
		    		$.each(params, function(i,v){
						data[v.name] = v.value;
		    		});
		    		
		    		return data;
		    	}
		    }
		    
			_grid.dataSource.read();
			return ;
		}
		
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
        		var err = e.responseText;
        		if (!err || $.trim(err).length == 0)
        			err = "server error or connection failed";
        		
        		alert(err);
        		_grid.cancelChanges();//roll back
		    },
            transport: {
                read:  {
                    url: url
                },
                update: {
                    url: "${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("update success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("delete success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status){
                    		alert("create success");
                    		_grid.dataSource.read();
                    	}
                    }
                },
                parameterMap:function (data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models: kendo.stringify(data.models)};
                    }
                    
                    return data;
                }
            },
            batch: true,
            pageSize: 10,
            serverPaging: true,
            schema: {
            	data: "roles",
            	total: "total",
            	parse: function(data){
					
            		return data;
            	},
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        name: { validation: { required: true } },
                        desc: { 
                        	validation: {
	                            custom: function(input) {
	                            	var name = input.attr("name");
	                            	if (name != "permissions" && name != "desc")
	                            		return validate_empty(input);
	                            	
	                            	return true;
	                            }
                        	}
                        },
                        permissions: { }
                    }
                }
            }
        });
        
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command:["edit", "destroy"], title:"Action", width:"200px" };
        /**
		 * 循环遍历columns，找到某个field，给其添加自定义的 editor
		 */
		$.each(columnsJson, function(i, v){
			var _field = columnsJson[i]['field'];
			// <span data-for="firstName" class="k-invalid-msg"></span>
			if ('permissions' === _field){
				columnsJson[i].editor = function(container, options){};
				return ;
			}
		});
		
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource:dataSource,
            pageable:true,
            scrollable:true,
            resizable:true,
            sortable:true,
            navigatable:true,
            selectable:true,
            toolbar:["create"],
            columns:columnsJson,
            editable:"popup"
        });
        
        _grid = $("#grid_${grid.tabId}").data("kendoGrid");
    }
    
    function roleSearchValidate(form) {
    	var $form = $(form);
    	loadRoles($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }

</script>
