
<div id="grid_${grid.tabId}"></div>

<script>
    $(document).ready(function () {
    	var dataSource = new kendo.data.DataSource({
    		error: function(e) {
		        if ((e.status && 403 == e.status) || (e.xhr && 403 == e.xhr.status))
		        	alert(e.responseText);
		        else{
		        	alert("Oops! 500 error!");
		        }
		    },
            transport: {
                read:  {
                    url: "${grid.readUrl}",
                    dataType: "json"
                },
                update: {
                    url: "${grid.updateUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    dataType: "json",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("create success");
                    }
                },
                search: {
                    url: "${grid.searchUrl}",
                    dataType: "json"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        name: { validation: { required: true } },
                        value: { validation: {required: true} },
                        displayName: { validation: { required: true } },
                    }
                }
            }
        });
        
    	var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command: ["edit", "destroy"], title: "&nbsp;", width: "210px" };
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            selectable:true,
            toolbar: ["create"],
            columns: columnsJson,
            editable: "${grid.editable}"
        });
    });

</script>
