<form action="/drivers/search" method="post" class="k-content" onsubmit="return driverSearchValidate(this)" style="padding:10px 0;">

    <label for="${grid.tabId}_number">Number:</label>
    <input name="number" id="${grid.tabId}_number" class="k-input k-textbox"/>

    <label for="${grid.tabId}_name">Name:</label>
    <input name="name" id="${grid.tabId}_name" class="k-input k-textbox"/>

    <label for="${grid.tabId}_description">Description:</label>
    <input name="description" id="${grid.tabId}_description" class="k-input k-textbox"/>

    <div style="float:right; padding-right:20px;">
        <input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value=""/>
    </div>

</form>

<div id="${grid.tabId}_grid"></div>

<div id="couselling_win" style="display:none;">
    <form action="Counsellings/saveCounselling" onsubmit="return counselling_form_submit(this)">
    	<label for="counselling_form_user_name">Hosted by: </label>
        <input id="counselling_form_user_name" name="userName"/>
        <div style="height:5px" ></div>
        
        <label for="counselling_form_driver_name">Session for: </label>
        <input id="counselling_form_driver_name" name="driverName" readonly class="k-input k-textbox"/>
        <div style="height:5px" ></div>
        
        <label for="counselling_form_date">Date:</label>
        <input id="counselling_form_date" name="date"/>
        <div style="height:5px" ></div>
        
        <label for="counselling_form_starttime">Start Time: </label>
        <input id="counselling_form_starttime" name="startTime"/>
        <div style="height:5px" ></div>
        
        <label for="counselling_form_endtime">End Time:</label>
        <input id="counselling_form_endtime" name="endTime"/>
        <div style="height:5px" ></div>
        
   		<label for="counselling_form_remark">Remark:</label>
    	<textarea id="counselling_form_remark" name="remark" cols="50" rows="5"></textarea>
    	<div style="height:5px" ></div>
    	
    	<div style="float:right; padding-right:20px;">
        	<input type="submit" id="counselling-form_create-btn" class="k-button" style="width:auto" value="Create" />
        	<input type="reset" id="counselling-form_cancle-btn" class="k-button" style="width:auto" value="Cancel" />
       </div>
    </form>
</div>

<script>
    var sessionfor = "";
    
    $(document).ready(function () {
    	loadDrivers("drivers/read");
    });

    function loadDrivers(url, params) {
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
		        if ((e.status && 403 == e.status) || (e.xhr && 403 == e.xhr.status))
		        	alert(e.responseText);
		        else{
		        	alert("Oops! 500 error!");
		        }
		    },
            transport:{
                read:{
                    url:url
                },
                update:{
                    url:"${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy:{
                    url:"${grid.destroyUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create:{
                    url:"${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("create success");
                    }
                },
                parameterMap: function(data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models:kendo.stringify(data.models)};
                    }
                    
                    return params;
                }
            },
            batch:true,//
            pageSize:15,
            schema:{
                model:{
                    id:"id",
                    fields:{
                        id:{ editable:false, nullable:true },
                        number:{ type:"string", validation:{ required:true } },
                        name:{ type:"string", validation:{ required:true } },
                        description:{ type:"string", validation:{ required:true }}
                    }
                }
            }
        });
        
        $("#${grid.tabId}_grid").empty();
        
        var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
        columnsJson[columnsJson.length] = { command:"destroy", title:"Actions", width:"100px" };
        $("#${grid.tabId}_grid").kendoGrid({
            dataSource:dataSource,
            toolbar: ["create", "save", "cancel"], // specify toolbar commands
            pageable:true,
            sortable:true,
            selectable:false,
            columns:columnsJson,
            editable:true,
            navigatable: true
        });
    }

    function driverSearchValidate(form) {
        var $form = $(form);
        loadDrivers($form.attr("action"), $form.serializeArray());
        return false;
    }
</script>