<script src="/public/js/kendo.chart.min.js" type="text/javascript"></script>
<div id="driver_result_view-on-map-wrap">
	<div id="driver_result_view-on-map-window"></div>
</div>

<form action="/DriverReports/search" method="post" class="k-content" onsubmit="return searchResult(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_driverId">Driver Name:</label>
	<input name="driverId" id="${grid.tabId}_driverId" />
	
	<label for="${grid.tabId}_reportType" >Report Type:</label>
	<input name="reportType" id="${grid.tabId}_reportType"/>
	
	<label for="${grid.tabId}_date" id="date_label">Date:</label>
	<div id="date_wrap" style="display:inline;">
	<input name="dateStr" id="${grid.tabId}_date"/>
	</div>
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="" />
	</div>
</form>
<div id="chart_bg">
	<div class="chart-wrapper">
    	<div id="pie_chart">
    	</div>
    </div>
</div>

<div id="grid_${grid.tabId}"></div>

<script>
var driverId = "${driverId}";
    $(document).ready(function () {
    	
    	if (driverId && driverId > 0)
    		loadSearch("${grid.searchUrl}", {driverId:driverId});
    	
    	var driverCombo = #{verbatim} ${drivers} #{/verbatim} ;
    	var _index = 0;
		$.each( driverCombo, function(i, v){
			if (v.value == driverId){
				_index = i;
				return ;
			}
		});
		
        $("#${grid.tabId}_driverId").kendoComboBox({
        	dataValueField: "value",
            dataTextField: "text",
            index: _index,
            dataSource: driverCombo
        });
        
        $("#${grid.tabId}_reportType").kendoComboBox({
        	dataValueField: "value",
            dataTextField: "value",
        	dataSource:[
                        { text: "type1", value: "daily" },
                        { text: "type2", value: "weekly" },
                        { text: "type3", value: "monthly" },
                        { text: "type4", value: "yearly" }
            ],
            change: function() {
                var value = this.value();
                var text = this.text();
            	$("#date_wrap").empty();
            	$("#date_wrap").html("<input name='dateStr' id='${grid.tabId}_date'/>");
         		$("#date_label").html(text);
            	var _format = "yyyy-MM-dd";
            	if ("monthly" == value){
    		    	_format = "yyyy-MM";
    		    	value = "year";
    		    }else if ("yearly" == value){
    		    	_format = "yyyy";
    		    	value = "decade";
    		    }
    		    
            	$("#${grid.tabId}_date").kendoDatePicker({
    		    	start: value,
    		    	depth: value,
    		    	format: _format
    		    });
    		    
    		    $("#date_wrap").show();
    		    $("#date_label").show();
            }
        });
        
        $("#date_label").hide();
     	$("#date_wrap").hide();
        
    });
    
    function loadReport(url, params){
    	$("#grid_${grid.tabId}").empty();
        var dataSource = new kendo.data.DataSource({
            transport: {
            	read:  {
                    url: url,
                    dataType: "json",
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                    return params;
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        serviceNo: { editable: false },
                        eventTime: { editable: false },
                        speed: { editable: false },
                        type: { editable: false },
                        latitude: { editable: false },
                        longitude: {editable: false },
                        road: { editable: false },
                    }
                }
            }
        });
        	
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { title: "Actions", width: "110px", command: { text: "Map", className: "view-on-map-button" }  };
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: "auto",
            columns: columnsJson
        });
    }
    
    function createChart(url) {
    	$("#pie_chart").kendoChart({
            theme: $(document).data("kendoSkin") || "default",
            dataSource: {
                transport: {
                    read: {
                        url: url,
                        dataType: "json"
                    }
                },
                sort: {
                    field: "type",
                    dir: "asc"
                }
            },
            title: {
                text: "Driver Report"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
            	type: "pie",
            	labels: {
                    visible: true,
                    format: "{0}"
                }
            },
            series: [{
                field: "value",
                categoryField: "type"
            }],
            tooltip: {
                visible: true,
                format: "{0}"
            }
        });
    }
    
    function searchResult(form) {
    	var $form = $(form);
    	
    	loadSearch($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }
    
    function loadSearch(url, params){
    	
    	// keep the driver selected firstly
    	$.each(params, function(i, v){
    		if (params[i].name == "driverId" && (!params[i].value || isNaN(params[i].value) || params[i].value <= 0)){
    			alert("Please selecte a valid driver first.");
    			return false;
    		}
    	});
    	
    	$.getJSON(url, params, function(json){
    		$("#grid_${grid.tabId}").empty();
            
            var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
    		columnsJson[columnsJson.length] = { title: "Actions", width: "110px", command: { text: "Map", className: "view-on-map-button" } };
    		columnsJson[columnsJson.length] = { title: "id", width: "1px", field: "id" };
    		
            $("#grid_${grid.tabId}").kendoGrid({
                dataSource: json.grid,
                pageable: true,
                scrollable: true,
    	   	 	sortable: true,
                height: "auto",
                columns: columnsJson
            });
            
            $("#pie_chart").kendoChart({
                theme: $(document).data("kendoSkin") || "default",
                dataSource: json.chart,
                title: {
                    text: "Driver Report"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                	type: "pie",
                	labels: {
                        visible: true,
                        format: "{0}"
                    }
                },
                series: [{
                    field: "value",
                    categoryField: "type"
                }],
                tooltip: {
                    visible: true,
                    format: "{0}"
                }
            });    
          
          	$("#grid_${grid.tabId}").delegate(".view-on-map-button", "click", function(e) {
		        e.preventDefault();
		       	var eventId = $(this).parent().parent().find("td:last").html();
		        var w_title = "View Event On Map "
		        var wnd = $("#driver_result_view-on-map-window")
		    	.kendoWindow({
		    		actions: ["Custom", "Minimize", "Maximize", "Close"],
		    		content: "http://"+ window.location.host + "/events/viewEventOnMap?eventId="+eventId,
		    		iframe: true,
		            modal: true,
		            visible: false,
		            resizable: true,
		            width: 800,
		            height: 500,
		            resize:function(e){
		            	$("#view-on-map-splitter").data("kendoSplitter").size("#map-view", "100%");
		            }
		         }).data("kendoWindow");
		        
		        wnd.title(w_title).center().open();
		        
		    });
    	});
  
    }
</script>

