<script src="/public/js/kendo.chart.min.js" type="text/javascript"></script>
<style>

	.k-content{
		background:#f3f3f3;
	}
	
    .k-autocomplete{
    }
    
    .info{
    	border:none;
        padding: 3px 5px 7px 5px;
        display:inline-block;
        width:120px;
        text-align:right;
    }
    
</style>

<form action="/DriverReports/search" method="post" class="k-content search-wrap" onsubmit="return searchResult(this)" style="padding:20px 0 10px 10px;">
	
	<label for="driverId" class="info" style="width:80px;">Driver Name:</label>
	<input name="driverId" id="driverId"/>
	
	<label for="reportType" class="info" >Report Type:</label>
	<input name="reportType" id="reportType"/>
	
	<label for="date" class="info" style="width:80px;" id="date_label">Date:</label>
	<div id="date_wrap" style="display:inline;">
	<input name="dateStr" id="rp_date"/>
	</div>
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="search-button" class="k-button" value="Search" />
	</div>
</form>

<div id="chart_bg" class="k-content">
	<div class="chart-wrapper">
    	<div id="pie_chart">
    	</div>
    </div>
</div>

<div id="grid_${grid.tabId}"></div>

<script>
    $(document).ready(function () {
    	
    	loadReport("${grid.readUrl}");
        $("#driverId").kendoComboBox({
        	dataValueField: "value",
            dataTextField: "text",
            dataSource: #{verbatim} ${drivers} #{/verbatim}
        });
        
        $("#reportType").kendoComboBox({
        	dataValueField: "value",
            dataTextField: "value",
        	dataSource:[
                        { text: "type1", value: "daily" },
                        { text: "type2", value: "weekly" },
                        { text: "type3", value: "monthly" },
                        { text: "type4", value: "yearly" }
            ],
            change: function() {
                var value = this.value();
                var text = this.text();
				alert(value+" | "+text);
            	$("#date_wrap").empty();
            	$("#date_wrap").html("<input name='dateStr' id='rp_date'/>");
         		$("#date_label").html(text);
            	var _format = "yyyy-MM-dd";
            	if ("monthly" == value){
    		    	_format = "yyyy-MM";
    		    	value = "year";
    		    }else if ("yearly" == value){
    		    	_format = "yyyy";
    		    	value = "decade";
    		    }
    		    
            	$("#rp_date").kendoDatePicker({
    		    	start: value,
    		    	depth: value,
    		    	format: _format
    		    });
    		    
    		    $("#date_wrap").show();
    		    $("#date_label").show();
            }
        });
        
        $("#date_label").hide();
     	$("#date_wrap").hide();
        
     	/*$("#rp_date").kendoDatePicker({
        	format: "yyyy-MM-dd"		
        });*/
        
        
        setTimeout(function() {
            createChart("/DriverReports/getCount");

            $("#chart_bg").bind("kendo:skinChange", function(e) {
                createChart("/DriverReports/getCount");
            });
        }, 400);

    });
    
    function loadReport(url, params){
    	$("#grid_${grid.tabId}").empty();
        var dataSource = new kendo.data.DataSource({
            transport: {
            	read:  {
                    url: url,
                    dataType: "json",
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        return {models: kendo.stringify(options.models)};
                    }
                    return params;
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        serviceNo: { editable: false },
                        eventTime: { editable: false },
                        speed: { editable: false },
                        type: { editable: false },
                        latitude: { editable: false },
                        longitude: {editable: false },
                        road: { editable: false },
                    }
                }
            }
        });
        	
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { title: "Actions", width: "110px", command: { text: "View", className: "view-detail" } };
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: "auto",
            columns: columnsJson
        });
    }
    
    function createChart(url) {
    	$("#pie_chart").kendoChart({
            theme: $(document).data("kendoSkin") || "default",
            dataSource: {
                transport: {
                    read: {
                        url: url,
                        dataType: "json"
                    }
                },
                sort: {
                    field: "type",
                    dir: "asc"
                }
            },
            title: {
                text: "Driver Report"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
            	type: "pie",
            	labels: {
                    visible: true,
                    format: "{0}"
                }
            },
            series: [{
                field: "value",
                categoryField: "type"
            }],
            tooltip: {
                visible: true,
                format: "{0}"
            }
        });
    }
    
    function searchResult(form) {
    	var $form = $(form);
    	
    	loadSearch($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }
    
    function loadSearch(url, params){
    	
    	$.getJSON(url, params, function(json){
    		alert(JSON.stringify(json));
    		$("#grid_${grid.tabId}").empty();
            
            var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
        		columnsJson[columnsJson.length] = { title: "Actions", width: "110px", command: { text: "View", className: "view-detail" } };
                $("#grid_${grid.tabId}").kendoGrid({
                    dataSource: json.grid,
                    pageable: true,
                    scrollable: true,
        	   	 	sortable: true,
                    height: "auto",
                    columns: columnsJson
                });
                
                $("#pie_chart").kendoChart({
                    theme: $(document).data("kendoSkin") || "default",
                    dataSource: json.chart,
                    title: {
                        text: "Driver Report"
                    },
                    legend: {
                        position: "bottom"
                    },
                    seriesDefaults: {
                    	type: "pie",
                    	labels: {
                            visible: true,
                            format: "{0}"
                        }
                    },
                    series: [{
                        field: "value",
                        categoryField: "type"
                    }],
                    tooltip: {
                        visible: true,
                        format: "{0}"
                    }
                });    
              
    	});
  
    }
</script>

