<table id="grid">
    <thead>
    <tr>
        <th>Id</th>
        <th>No.</th>
        <th>Name</th>
        <th>Description</th>
        <th>Counselling Create</th>
    </tr>
    </thead>
    <tbody>
    #{list items: driverList, as: 'driver'}
    <tr>
        <td>${driver ? driver.id : "null"}</td>
        <td>${driver ? driver.no : "null"}</td>
        <td>${driver ? driver.name : "null"}</td>
        <td>${driver ? driver.description : "null"}</td>
        <td>
            <button class="create">Create</button>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>

