#{extends theme+'/crud.html' /}
#{set 'moreStyles'}
#{/set}
#{set 'moreScripts'}
#{/set}
<div id="tabStrip" style="height:99%; border:none;">
</div>
<script>
$(document).ready(function() {
	/* tab  */
    var tabStrip = $("#tabStrip").kendoTabStrip({
        select: function(e){
        	var _h = $("#tabStrip").css("height");
        	var _height = _h.replace("px", "") - 32;
        	$(e.contentElement).css("height", _height);
        },
        animation: {
	        // fade-out current tab over 1000 milliseconds
	        close: {
	            duration: 80,
	            effects: "fadeOut"
	        }, 
	       // fade-in new tab over 500 milliseconds
	       open: {
	           duration: 80,
	           effects: "fadeIn"
	       }
	   }
    }).data("kendoTabStrip");
    
    $("#panelBar").kendoPanelBar({
     	select: function(e){
     		var _menu = $(e.item);
     		var _url = _menu.attr("url");
     		if (_url === undefined)
     			return ;
     		
     		var currentTab ;
     		var index;
     		$.post(_url, {random:Math.random()}, function(data){
     			
     			$.each($(tabStrip.tabGroup.children("li")), function(i){
     				if ($(this).text() == _menu.text()){
     					currentTab = this;
     					index = i;
     					return ;
     				}
				});
     			
     			if (currentTab === undefined){
     				tabStrip.append({ text: _menu.text(), content: data });
					currentTab = $(tabStrip.tabGroup.children("li:last"));
				}else{
					$(tabStrip.contentElement(index)).empty().html(data);
				}
				
				tabStrip.select(currentTab);
				
				$(currentTab).dblclick(function(){
					tabStrip.remove(currentTab);
					tabStrip.select($(tabStrip.tabGroup.children("li:last")));
				});
	     	});
     	}
	});
});
</script>