#{set 'title'}&{'application-title-long'} - &{'live-location'}#{/set}
#{set voucher_mode:false /}
#{set 'moreScripts'}

<script src="/public/js/esri.ux.layers.ClusterLayer-debug.js" type="text/javascript"></script>

<script>
	var map = "";
     $(document).ready(function() {
     	 var h1 = $("body").css("height").replace("px", "");
	     var h2 = $("#header").css("height").replace("px", "");
	     var h3 = h1-h2; 
	     $("#map_content").css("height", h3+"px"); 
	     
         $("#vertical").kendoSplitter({
             orientation: "vertical",
             panes: [
                 { collapsible: false },//bottom up
                 { collapsible: true, size: "250px" }//bottom down
             ],
             resize:function(e){
             	
             	//第一次加载时不需要resize
             	if (map && map != ""){
             		map.resize();
             		//alert(map);
      				map.reposition();
      			}
             }
         });

         $("#horizontal").kendoSplitter({
             panes: [
                 { collapsible: false},
                 { collapsible: true, size: "250px" },
             ],
             resize:function(e){
             	//第一次加载时不需要resize
             	if (map && map != ""){
             		map.resize();
      				map.reposition();
      			}
             }
         });
         
     });
 </script>
#{/set}
#{extends theme+'/main_head.html' /}
        <div id="header" class="header background-image">
            <div class="logo background-image"></div>
            <div class="header-topright">
                <div class="header-toolbar background-image">
                    <div class="header-toolbar-wrap">
                    	<a class="copy-text-white" href="/">Home</a>
                        <span class="copy-text-white">&nbsp;|&nbsp;</span>
                        <a class="copy-text-white" href="/admin">Admin</a>
                        <span class="copy-text-white">&nbsp;|&nbsp;</span>
                        <a class="copy-text-white" href="javascript:void(0)" onclick="logout()">&{'log-out'}</a>
                    </div>
                </div>
                <div class="afterlogin-welcome-wrap">
                    <span>&{'welcome'} ${user}!</span>
                </div>
            </div>
        </div>

        <div id="map_content" >
           	<div id="vertical">
			     <div id="top-pane">
			         <div id="horizontal">
			             <div id="map" region="center" class="pane-content">
			             		<div id="change-level-btn" style="display:none;cursor:pointer;position:absolute; bottom:10px; padding:2px; left:1px; z-index:99999999;">
									<img src="/public/images/target.png" />	
								</div>
			                 	#{include './map.html' /}
			             </div>
			             <div id="right-pane">
			                 <div class="pane-content">
			                 	#{include './siderbar.html' /}
			                 </div>
			             </div>
			         </div>
			     </div>
			     <div id="bottom-pane">
			         <div class="pane-content">
			         	#{include './live_bus_grid.html' /}
			         </div>
			     </div>
 			</div>
        </div>

