<div id="view-on-map-window" style="overflow:hidden;"></div>
<div id="route-path-window" style="overflow:hidden;"></div>
<div id="live_bus_grid"></div>

<script>
var vehicleNo ;

$(document).ready(function(){
	
	$.getJSON("/vehicles/events",{},function(json){
		json.columns[json.columns.length] = { title: "Action", width: "200px", command: [
			{ text: "&nbsp;", className: "view-on-map-button" },
			{ text: "&nbsp;", className: "route-path-button" }  
		]};
		
		json.columns[json.columns.length] = { title: "id", width: "1px", field: "id" };
		$.each(json.columns, function(i, v){
			var _field = v['field'];
			if ('device' === _field){
				v.width = "200px";
			} else if ('vehicleNo' === _field){
				v.width = "135px";
			}
		});
		
		var grid = $("#live_bus_grid").kendoGrid({
	    	dataSource: {
	    		data: json.data,
	    		pageSize:10
	    	},
	    	columns: json.columns, 
	   	 	scrollable: true,
	   	 	resizable:true,
	   	 	sortable: true,
	   	 	pageable: true,
	   	 	height: 248,//248
	   	 	selectable: true
	   	 	
        }).data("kendoGrid");
	    
	}).error(function(e){
		alert(e.responseText);
	});
    $("#live_bus_grid").delegate("td", "click", function(e) {
		if ($(this).text() == "View On MapRoute Path")
			return ;
		
		e.preventDefault();
		var id = $(this).parent().find("td:last").text();
		    showCurrentInfoWindow(id);
	});
    
    $("#live_bus_grid").delegate(".view-on-map-button", "click", function(e) {
        e.preventDefault();
        vehicleNo = $(this).parent().parent().find("td:first").html();
        var w_title = "View Vehicle("+vehicleNo+") Events On Map "
        
        var wnd = $("#view-on-map-window")
	    	.kendoWindow({
	    		actions: ["Custom", "Minimize", "Maximize", "Close"],
	    		content: "http://"+ window.location.host + "/events/list?vehicleNo=" + vehicleNo +"&random="+Math.random(),
	    		iframe: true,
	            modal: true,
	            visible: false,
	            resizable: true,
	            width: 800,
	            height: 600,
	            resize:function(e){
	            	$("#view-on-map-splitter").data("kendoSplitter").size("#map-view", "100%");
	            }
	         }).data("kendoWindow");
	        
	        wnd.title(w_title).center().open();
        
    });
    
     $("#live_bus_grid").delegate(".route-path-button", "click", function(e) {
        e.preventDefault();
        vehicleNo = $(this).parent().parent().find("td:first").html();
        var w_title = "View Vehicle("+vehicleNo+") Route Path On Map "
        
        var wnd = $("#route-path-window")
	    	.kendoWindow({
	    		actions: ["Custom", "Minimize", "Maximize", "Close"],
	    		content: "http://"+ window.location.host + "/vehicles/path?vehicleNo=" + vehicleNo +"&random="+Math.random(),
	    		iframe: true,
	            modal: true,
	            visible: false,
	            resizable: true,
	            width: 800,
	            height: 600,
	            resize:function(e){
	            	$("#path-view-on-map-splitter").data("kendoSplitter").size("#path-map-view", "100%");
	            }
	         }).data("kendoWindow");
        
        wnd.title(w_title).center().open();
        
    });
    
});
function selectGridWithMapClick(id){
		var dataSource = $("#live_bus_grid").data("kendoGrid").dataSource;
		var data = dataSource.data();
		var pageSize = dataSource.pageSize();
		var pageNum;

		for(var i =0; i < data.length; i++){
			if(data[i].id == id){
				pageNum = Math.ceil((i+1)/pageSize);
			}
		}

		$.each($("#live_bus_grid").find(".k-grid-pager a"),function(){
			if($(this).text() == pageNum){
				$(this).trigger("click");
			}
		});
		
		setTimeout("selectGrid(" + id + ")",50);
	}
	function selectGrid(id){
		// get a reference to the grid widget
		var grid = $("#live_bus_grid").data("kendoGrid");
		//alert(grid.tbody.find("tr").length);
		// selects first grid item
		$.each(grid.tbody.find("tr"),function(tr){
			if($(this).find("td:last").text() == id){
				grid.select($(this));
				$(this).find("a").focus();
				
			}
		});
	}
</script>