<script src="${static_dir}/js/SVY21.js" type="text/javascript" charset="utf-8"></script>
<script src="${static_dir}/js/vmsMap.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function getFleetData() {
    var serializedData = $("#treeview input").serialize()
        .replace(/%5B/g, "[")
        .replace(/%5D/g, "]")
        .replace(/&/g, ",")
        .replace(/=true/g,"");
     
    return serializedData;
}

var map_id = "map";
var gps_url = #{jsAction @Vehicles.gps(':fleets')/};
var _int ;

function _fetch_gps(){
	var _url = gps_url({fleets: getFleetData()});
    var _delay = $("#textBox").val()*1000;
    init_gps(_url, _delay);
}

$(document).ready(function(){
	$("#refresh-button").unbind("click");
    $("#refresh-button").bind("click", function(){
    	_fetch_gps();
    });
    
    _int = setInterval(
    	function(){
    		if (map && map.loaded){
    			clearInterval(_int);
    			_fetch_gps();
    		}
    	}, 500);
    
    $("#change-level-btn").click(changeLevelHandler);
});
</script>