<div id="map_legend" class="configuration k-widget k-header" style="clear:both;">
	<span class="configHead">Legend</span>
    <ul class="options">
    	<li style="float:left;">
            <img src="/public/images/blue-dot.png" width="32" height="32" border="0" alt="" /> <span>idle</span>
            <img src="/public/images/green-dot.png" width="32" height="32" border="0" alt="" /> <span>speeding</span>
        	<img src="/public/images/ltblue-dot.png" width="32" height="32" border="0" alt="" /> <span>sudden acceleration</span>
        	<img src="/public/images/pink-dot.png" width="32" height="32" border="0" alt="" /> <span>sudden braking</span>
        	<img src="/public/images/purple-dot.png" width="32" height="32" border="0" alt="" /> <span>sudden left</span>
        	<img src="/public/images/red-dot.png" width="32" height="32" border="0" alt="" /> <span>sudden right</span>
        	<img src="/public/images/yellow-dot.png" width="32" height="32" border="0" alt="" /> <span>other</span>
        </li>
    </ul>
</div>