#{extends theme+'/main.html' /} 
#{set title:'Counselling' /}
<link rel="stylesheet" type="text/css" media="screen" href="${static_dir}/css/kendo.common.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="${static_dir}/css/kendo.default.min.css" />
<script src="${static_dir}/js/counsel.js" type="text/javascript" charset="utf-8"></script>
<script src="${static_dir}/js/kendo.datepicker.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/kendo.timepicker.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/kendo.grid.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/kendo.window.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/kendo.dropdownlist.min.js" type="text/javascript"></script>
<script src="${static_dir}/js/kendo.web.min.js" type="text/javascript"></script>

<div id="add-sc-div" style="margin-top:10px">
	<button id="add-sc-btn">Add new System config</button>
</div>
<hr width="auto" style="margin:10px"/>