#{set 'moreScripts'}
<script src="/public/js/esri.ux.layers.ClusterLayer-debug-event.js" type="text/javascript"></script>
<script src="/public/js/array.xd.js" type="text/javascript"></script>
<script src="${static_dir}/js/SVY21.js" type="text/javascript" charset="utf-8"></script>
<script src="${static_dir}/js/vmsMap.js" type="text/javascript" charset="utf-8"></script>
#{/set}
#{extends theme+'/main_head.html' /}
<div id="view-on-map-splitter" style="width:99%; height:99%;">
	<div id="map-view" region="center" style="position:relative;"></div>
	#{include theme+'/Application/map_legend.html' /}
</div>

<script>

var view_on_map_splitter;
var map = "";
var map_id = "map-view";
var event_gps_url = #{jsAction @Events.gps(':vehicleNo',':eventId')/};
var _int ;
function _fetch_gps(){
	var _url = event_gps_url({vehicleNo:'',eventId: $.getUrlParam('eventId')});
    init_gps(_url);
}

$(document).ready(function(){
    
	view_on_map_splitter = $("#view-on-map-splitter").kendoSplitter({
		orientation: "vertical",
		panes: [
            { collapsible: false, resizable:false},//up
            { collapsible: false,resizable:false, size: "35px", min: "35px"}//bottom down
        ],
        resize:function(e){
            //第一次加载时不需要resize
            if (map && map != ""){
                map.resize();
      		    map.reposition();
      	    }
        }
	}).data("kendoSplitter");
	
	_int = setInterval(
    	function(){
    		if (map && map.loaded){
    			clearInterval(_int);
    			_fetch_gps();
    		}
    	}, 500);
    	
	autoShowInfoWindow($.getUrlParam('eventId'), 1);
});

</script>