#{set 'moreScripts'}
<script src="/public/js/esri.ux.layers.ClusterLayer-debug-event.js" type="text/javascript"></script>
<script src="/public/js/array.xd.js" type="text/javascript"></script>
#{/set}
#{extends theme+'/main_head.html' /}
<div id="view-on-map-splitter" style="width:99%; height:99%;">
	<div id="map-view" region="center" style="position:relative;"></div>
	#{include theme+'/Application/map_legend.html' /}
</div>


<script>

var map = "";
var map_id = "map-view";
var getCurrentDataUrl = #{jsAction @Events.gps(':vehicleNo',':eventId')/};

</script>
<script src="${static_dir}/js/vmsMap.js" type="text/javascript" charset="utf-8"></script>

<script>

var view_on_map_splitter;
refreshIntervalCount = 1000000*1000;//no refresh

$(document).ready(function(){
    
	view_on_map_splitter = $("#view-on-map-splitter").kendoSplitter({
		orientation: "vertical",
		panes: [
            { collapsible: false, resizable:false},//up
            { collapsible: false,resizable:false, size: "35px", min: "35px"}//bottom down
        ],
        resize:function(e){
            //第一次加载时不需要resize
            if (map && map != ""){
                map.resize();
      		    map.reposition();
      	    }
        }
	}).data("kendoSplitter");
	bindMapinitData("addMarker('" + getCurrentDataUrl({vehicleNo:'',eventId: $.getUrlParam('eventId')}) + "')");
	autoShowInfoWindow($.getUrlParam('eventId'), 1);
	
});

</script>