<div id="view-on-map-wrap">
	<div id="view-on-map-window"></div>
</div>

<style>

	.k-content{
		background:#f3f3f3;
	}
	
    .k-autocomplete{
    }
    
    .info{
    	border:none;
        padding: 3px 5px 7px 5px;
        display:inline-block;
        width:120px;
        text-align:right;
    }
</style>
<form action="/events/search" method="post" class="k-content search-wrap" onsubmit="return eventSearchValidate(this)" style="padding:20px 0 10px 10px;">
	
	<label for="driver" class="info" style="width:80px;">Driver:</label>
	<input name="driver" id="driver"/>
	
	<label for="serviceNo" class="info" >Service No:</label>
	<input name="serviceNo" id="serviceNo"/>
	
	<label for="type" class="info">Type:</label>
	<input name="type" id="type"/>
	
	<div style="height:8px"></div>
	
	<label for="startTime" class="info" style="width:80px;">Start Time:</label>
	<input name="startTime" id="startTime"/>
	
	<label for="endTime" class="info">End Time:</label>
	<input name="endTime" id="endTime"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="search-button" class="k-button" value="Search" />
	</div>
	
</form>

<div id="event_grid"></div>

<script>
var vehicleNo ;

$(document).ready(function(){
	
	loadEvents("/events/listJson");
    
    $("#event_grid").delegate(".view-on-map-button", "click", function(e) {
        e.preventDefault();
        eventId = $(this).parent().parent().find("td:last").html();
        var w_title = "View Vehicle("+vehicleNo+") Events On Map "
        var wnd = $("#view-on-map-window")
    	.kendoWindow({
    		actions: ["Custom", "Minimize", "Maximize", "Close"],
    		content: "http://"+ window.location.host + "/events/viewEventOnMap?eventId="+eventId,
    		iframe: true,
            modal: true,
            visible: false,
            resizable: true,
            width: 800,
            height: 500,
            resize:function(e){
            	$("#view-on-map-splitter").data("kendoSplitter").size("#map-view", "100%");
            }
         }).data("kendoWindow");
        
        wnd.title(w_title).center().open();
        
    });
    
    $("#driver").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${drivers} #{/verbatim}
    });
    
    $("#serviceNo").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${lines} #{/verbatim}
    });
    
    $("#type").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${types} #{/verbatim}
    });
    
    $("#startTime").kendoDatePicker({
    	format: "yyyy-MM-dd HH:mm:ss"		
    });
    
    $("#endTime").kendoDatePicker({
    	format: "yyyy-MM-dd HH:mm:ss"		
    });
    
});

function loadEvents(url, params){
	$.getJSON(url, params, function(json){
		$("#log_grid").empty();
		json.columns[json.columns.length] = { title: "Actions", width: "110px", command: { text: "View On Map", className: "view-on-map-button" } };
		json.columns[json.columns.length] = { title: "id", width: "1px", field: "id" };
		var grid = $("#event_grid").kendoGrid({
	    	dataSource: {
	    		data: json.data,
	    		pageSize:18
	    	},
	    	columns: json.columns, 
	   	 	scrollable: true,
	   	 	sortable: true,
	   	 	pageable: true,
	   	 	height: "auto",
	   	 	selectable: true
	   	 	
        }).data("kendoGrid");
	    
	});
}

function eventSearchValidate(form) {
	var $form = $(form);
	
	loadEvents($form.attr("action"), $form.serializeArray());
	
	return false;
}
</script>