<div id="view-on-map-wrap">
	<div id="view-on-map-window"></div>
</div>
<form id="event_form_${grid.tabId}" action="/events/search" method="post" class="k-content" onsubmit="return eventSearchValidate(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_driver">Driver:</label>
	<input name="driver" id="${grid.tabId}_driver"/>
	
	<label for="serviceNo" >Service No:</label>
	<input name="serviceNo" id="${grid.tabId}_serviceNo"/>
	
	<div style="height:8px"></div>
	
	<label for="type" >Type:</label>
	<input name="type" id="${grid.tabId}_type"/>
	
	<div style="height:8px"></div>
	
	<label for="${grid.tabId}_startTime">Start Time:</label>
	<input name="startTime" id="${grid.tabId}_startTime"/>
	
	<label for="${grid.tabId}_endTime">End Time:</label>
	<input name="endTime" id="${grid.tabId}_endTime"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="&nbsp;" />
		<input type="button" url="/excels/reportEvent" formId="event_form_${grid.tabId}" class="k-button export-excel-button" style="width:50px" value="&nbsp;" />
		<input type="button" class="k-button print-button" style="width:50px" value="&nbsp;" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>

<script src="/public/js/vms.js" type="text/javascript" charset="utf-8"></script>
<script>

$(document).ready(function(){
	
	loadEvents("/events/search");
    
    $("#grid_${grid.tabId}").delegate(".view-on-map-button", "click", function(e) {
        e.preventDefault();
        var eventId = $(this).parent().parent().find("td:first").html();
        var w_title = "View Event("+eventId+") On Map "
        var wnd = $("#view-on-map-window")
    	.kendoWindow({
    		actions: ["Custom", "Minimize", "Maximize", "Close"],
    		content: "http://"+ window.location.host + "/events/viewEventOnMap?eventId="+eventId,
    		iframe: true,
            modal: true,
            visible: false,
            resizable: true,
            width: 800,
            height: 500,
            resize:function(e){
            	$("#view-on-map-splitter").data("kendoSplitter").size("#map-view", "100%");
            }
         }).data("kendoWindow");
        
        wnd.title(w_title).center().open();
        
    });
    
    $("#${grid.tabId}_driver").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${drivers} #{/verbatim}
    });
    
    $("#${grid.tabId}_serviceNo").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${lines} #{/verbatim}
    });
    
    $("#${grid.tabId}_type").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${types} #{/verbatim}
    });
    
    $("#${grid.tabId}_startTime").kendoDatePicker({
    	format: "yyyy-MM-dd HH:mm:ss"		
    });
    
    $("#${grid.tabId}_endTime").kendoDatePicker({
    	format: "yyyy-MM-dd HH:mm:ss"		
    });
    
});

function loadEvents(url, params){
	var _grid = $("#grid_${grid.tabId}").data("kendoGrid");
	if (_grid){
		_grid.dataSource.transport.options.read.url = url;	
		if (params){
			_grid.dataSource.transport.parameterMap = function(data, operation){
				if (operation !== "read" && data.models) {
	                return {models:kendo.stringify(data.models)};
	            }
	            
	    		$.each(params, function(i,v){
					data[v.name] = v.value;
	    		});
	    		
	    		return data;
	    	}
	    }
	    
		_grid.dataSource.read();
		return ;
	}
	
	var dataSource = new kendo.data.DataSource({
		error: function(e) {
			alert(e.responseText);
	    	$("#grid_${grid.tabId}").data("kendoGrid").cancelChanges();//roll back 
	    },
	    transport:{
	        read:{
	            url:url,
	            dataType:"json"
	        },
	        parameterMap:function (data, operation) {
	            if (operation !== "read" && data.models) {
	                return {models:kendo.stringify(data.models)};
	            }
	            
	            return data;
	        }
	    },
	    batch:true,
	    pageSize:10,
	    serverPaging: true,
	    schema:{
	    	data: "data",
	    	total: "total",
	        model:{
	            id:"id",
	            fields:{
	            	id:{ editable:false, nullable:true },
					driver:{ validation:{ required:true } },
					vehicle:{ validation:{ required:true } },
					department:{ validation:{ required:true } },
					fleet:{ validation:{ required:true } },
					serviceNo:{ validation:{ required:true } },
					time:{ validation:{ required:true } },
					type:{ validation:{ required:true } },
					lat:{ validation:{ required:true } },
					lng:{ validation:{ required:true } }
	            }
	        }
	    }
	});
	
	var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
	columnsJson[columnsJson.length] = { title: "Action", width: "110px", command: { text: "&nbsp;", className: "view-on-map-button" } };
	columnsJson[0].width = "1px" ;
	$.each(columnsJson, function(i, v){
		var _field = columnsJson[i]['field'];
		if ('time' === _field || 'type' === _field){
			columnsJson[i].width = "135px";
		} 
	});
		
	var grid = $("#grid_${grid.tabId}").kendoGrid({
		dataSource: dataSource,
		columns: columnsJson, 
	 	scrollable: true,
	 	sortable: true,
	 	pageable: true,
	 	selectable: true,
	 	resizable: true
	}).data("kendoGrid");
	
}

function eventSearchValidate(form) {
	var $form = $(form);
	loadEvents($form.attr("action"), $form.serializeArray());
	
	return false;
}
</script>