<div id="view-on-map-wrap">
	<div id="view-on-map-window"></div>
</div>
<form id="event_form_${grid.tabId}" action="/events/search" method="post" class="k-content" onsubmit="return eventSearchValidate(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_driver">Driver:</label>
	<input name="driver" id="${grid.tabId}_driver"/>
	
	<label for="serviceNo" >Service No:</label>
	<input name="serviceNo" id="${grid.tabId}_serviceNo"/>
	
	<div style="height:8px"></div>
	
	<label for="type" >Type:</label>
	<input name="type" id="${grid.tabId}_type"/>
	
	<div style="height:8px"></div>
	
	<label for="${grid.tabId}_startTime">Start Time:</label>
	<input name="startTime" id="${grid.tabId}_startTime"/>
	
	<label for="${grid.tabId}_endTime">End Time:</label>
	<input name="endTime" id="${grid.tabId}_endTime"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="" />
		<input type="button" url="/excels/reportEvent" formId="event_form_${grid.tabId}" class="k-button export-excel-button" style="width:50px" value="" />
		<input type="button" class="k-button print-button" style="width:50px" value="" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>

<script src="/public/js/vms.js" type="text/javascript" charset="utf-8"></script>
<script>
var vehicleNo ;

$(document).ready(function(){
	
	loadEvents("/events/listJson");
    
    $("#grid_${grid.tabId}").delegate(".view-on-map-button", "click", function(e) {
        e.preventDefault();
        eventId = $(this).parent().parent().find("td:last").html();
        var w_title = "View Vehicle("+vehicleNo+") Events On Map "
        var wnd = $("#view-on-map-window")
    	.kendoWindow({
    		actions: ["Custom", "Minimize", "Maximize", "Close"],
    		content: "http://"+ window.location.host + "/events/viewEventOnMap?eventId="+eventId,
    		iframe: true,
            modal: true,
            visible: false,
            resizable: true,
            width: 800,
            height: 500,
            resize:function(e){
            	$("#view-on-map-splitter").data("kendoSplitter").size("#map-view", "100%");
            }
         }).data("kendoWindow");
        
        wnd.title(w_title).center().open();
        
    });
    
    $("#${grid.tabId}_driver").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${drivers} #{/verbatim}
    });
    
    $("#${grid.tabId}_serviceNo").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${lines} #{/verbatim}
    });
    
    $("#${grid.tabId}_type").kendoComboBox({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: #{verbatim} ${types} #{/verbatim}
    });
    
    $("#${grid.tabId}_startTime").kendoDatePicker({
    	format: "yyyy-MM-dd HH:mm:ss"		
    });
    
    $("#${grid.tabId}_endTime").kendoDatePicker({
    	format: "yyyy-MM-dd HH:mm:ss"		
    });
    
});

function loadEvents(url, params){
	$.getJSON(url, params, function(json){
		$("#grid_${grid.tabId}").empty();
		json.columns[json.columns.length] = { title: "Action", width: "110px", command: { text: "View On Map", className: "view-on-map-button" } };
		json.columns[json.columns.length] = { title: "id", width: "1px", field: "id" };
		var grid = $("#grid_${grid.tabId}").kendoGrid({
	    	dataSource: {
	    		data: json.data,
	    		pageSize:15
	    	},
	    	columns: json.columns, 
	   	 	sortable: true,
	   	 	pageable: true,
	   	 	selectable: true
	   	 	
        }).data("kendoGrid");
	}).error(function(e){
     	alert(e.responseText);
	});
}

function eventSearchValidate(form) {
	var $form = $(form);
	loadEvents($form.attr("action"), $form.serializeArray());
	
	return false;
}
</script>