<style type="text/css" media="screen">
h1{margin:10px 10px 5px 5px; padding:5px; background:#f5f5f5;}
#${tabId}_change_password_form .k-invalid-msg{position:absolute !important; float:none !important;}
</style>
<form id="${tabId}_change_password_form" action="/Users/changePassword" method="post" class="k-content" style="clear:both;width:auto; height:98%;">
	<div style="height:8px"></div>
	<div style="float:left;">
		<h1>Change Password</h1>
	</div>
	
	<div style="float:right; padding:10px 20px 10px 0;">
		<input type="submit" id="profile-change-pwd-button" class="k-button save-button" style="width:50px;" value="&nbsp;" />
		<input type="reset" class="k-button reset-button" style="width:50px;" value="&nbsp;" />
	</div>
	
	<div style="clear:both; border-bottom:1px solid #c5c5c5;"></div>
	
	<div style="padding:5px !important; height:85% !important; overflow:auto;">
		<div style="height:16px"></div>
		
		<label for="${tabId}_password" style="width:180px">Current password</label>
		<input type="password" name="password" id="${tabId}_password" value="" class="k-input k-textbox" required/>
		
		<div style="height:8px"></div>
		
		<label for="${tabId}_new_password" style="width:180px">New password</label>
		<input type="password" name="newPassword" id="${tabId}_new_password" class="k-input k-textbox" required/>
		
		<div style="height:8px"></div>
		
		<label for="${tabId}_new_password_again" style="width:180px">Confirm new password</label>
		<input type="password" name="confirmNewPassword" id="${tabId}_confirm_new_password" class="k-input k-textbox" required/>
	</div>
	<div style="height:8px"></div>
</form>
<script src="/public/js/vms_validation.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function () {
    	var form = $("#${tabId}_change_password_form");
    	$(":submit[id=profile-change-pwd-button]").click(function(check){ 
			change_password_validation(form);
		    check.preventDefault();//此处阻止提交表单  
		});  
    });
    
    function change_password_validation(form) {
    	$form = $(form);
    	var validator = $form.kendoValidator({
    		rules: {
		    	custom: function(input) {
		    		if (validate_empty(input)){
			    		var _new_pwd_val = $("#${tabId}_new_password").val();
			    		var _val = $(input).val();
			    		var _name = $(input).attr("name"); 
			    		if (_name === 'confirmNewPassword' && _val != _new_pwd_val){
			    			input.attr("data-custom-msg", "The Confirm password must match the New password entry");
			    			return false;
			    		}
			    		
			    		return true;
		    		}
		    		
		    		return false;
		   		}
		   	}
		}).data("kendoValidator");
		
    	if (!validator.validate()) 
    		return false;
    	
    	$.getJSON($form.attr("action"), $form.serializeArray(), function(json){
    		if (json.success){
    			alert("update success");
    		}else {
    			alert(json.message);
    		}
    	}).error(function(e){
    		var err = e.responseText;
    		if (!err || $.trim(err).length == 0)
    			err = "server error or connection failed";
    		alert(err);
		});
    	
    	return false;
    }
    
</script>
