<form action="/users/search" method="post" class="k-content" onsubmit="return userSearchValidate(this)" style="padding:10px 0;">
	
	<!--label for="${grid.tabId}_role_name">Role Name:</label>
	<input name="roleName" id="${grid.tabId}_role_name"/-->
	
	<label for="${grid.tabId}_name">User Name:</label>
	<input name="userName" id="${grid.tabId}_name" class="k-input k-textbox"/>
	
	<div style="height:8px"></div>
	
	<label for="${grid.tabId}_account">Account:</label>
	<input name="account" id="${grid.tabId}_account" class="k-input k-textbox"/>
	
	<label for="${grid.tabId}_desc">Description:</label>
	<input name="desc" id="${grid.tabId}_desc" class="k-input k-textbox"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="&nbsp;" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>
<script src="/public/js/vms_validation.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        // $("#${grid.tabId}_role_name").kendoComboBox({
            // dataTextField: "text",
            // dataValueField: "value",
            // dataSource: #{verbatim} ${roles} #{/verbatim}
        // });
        
    	loadUsers("${grid.readUrl}");
    });
    
    function loadUsers(url, params){
    	var _grid = $("#grid_${grid.tabId}").data("kendoGrid");
		if (_grid){
			_grid.dataSource.transport.options.read.url = url;	
			if (params){
				_grid.dataSource.transport.parameterMap = function(data, operation){
					if (operation !== "read" && data.models) {
		                return {models:kendo.stringify(data.models)};
		            }
		            
		    		$.each(params, function(i,v){
						data[v.name] = v.value;
		    		});
		    		
		    		return data;
		    	}
		    }
		    
			_grid.dataSource.read();
			return ;
		}
		
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
        		var err = e.responseText;
        		if (!err || $.trim(err).length == 0)
        			err = "server error or connection failed";
        		alert(err);
        		
	        	_grid.cancelChanges();//roll back 
		    },
            transport: {
                read:  {
                    url: url
                },
                update: {
                    url: "${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && (200 == jqXHR.status))
                    		alert("create success");
                    }
                },
                parameterMap:function (data, operation) {
                    if (operation !== "read" && data.models) {
                        return {models: kendo.stringify(data.models)};
                    }
                    
                    return data;
                }
            },
            batch: true,
            pageSize: 10,
            serverPaging: true,
            schema: {
            	data: "users",
            	total: "total",
            	parse: function(data){
					
            		return data;
            	},
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        account: { validation: { required: true } },
                        name: { validation: { required: true } },
                        desc: {
                        	validation: {
	                            custom: function(input) {
	                            	var name = input.attr("name");
	                            	if (name != "roles" && name != "desc")
	                            		return validate_empty(input);
	                            	
	                            	return true;
	                            }
                        	}
                        }
                    }
                }
            }
        });
        
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command:["edit", "destroy"], title:"Action", width:"200px" };
        /**
		 * 循环遍历columns，找到某个field，给其添加自定义的 editor
		 */
		$.each(columnsJson, function(i, v){
			var _field = columnsJson[i]['field'];
		});
		
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource:dataSource,
            pageable:true,
            scrollable:true,
            resizable:true,
            sortable:true,
            selectable:true,
            toolbar:["create"],
            columns:columnsJson,
            editable:"popup",
            navigatable:true
        });
    }
    
    function userSearchValidate(form) {
    	var $form = $(form);
    	loadUsers($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }

</script>
