#{extends theme+'/Users/layout.html' /}

<div id="login">
	
	<h1>&{'login.title'}</h1>
		
	#{form @Interceptor.authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'login.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'login.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'login.signin'}" />
		</p>
	#{/form}
</div>