<form action="/counsellings/search" method="post" class="k-content" onsubmit="return counselSearchValidate(this)" style="padding:10px 0;">
	
	<label for="${grid.tabId}_user_name">User Name:</label>
	<input name="userName" id="${grid.tabId}_user_name"/>
	
	<label for="${grid.tabId}_driver_name">Driver Name:</label>
	<input name="driverName" id="${grid.tabId}_driver_name"/>
	
	<div style="height:3px"></div>
	
	<label for="${grid.tabId}_start_date">Start Date:</label>
	<input name="startDate" id="${grid.tabId}_start_date"/>
	
	<label for="${grid.tabId}_start_time">Start Time:</label>
	<input name="startTime" id="${grid.tabId}_start_time"/>
	
	<div style="height:3px"></div>
	
	<label for="${grid.tabId}_end_date">End Date:</label>
	<input name="endDate" id="${grid.tabId}_end_date"/>
	
	<label for="${grid.tabId}_end_time" >End Time:</label>
	<input name="endTime" id="${grid.tabId}_end_time"/>
	
	<div style="float:right; padding-right:20px;">
		<input type="submit" id="${grid.tabId}_search-button" class="k-button search-button" style="width:50px;" value="" />
	</div>
	
</form>

<div id="grid_${grid.tabId}"></div>
<script>
    $(document).ready(function(){
    	$("#${grid.tabId}_user_name").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: #{verbatim} ${users} #{/verbatim}
        });
    	
        $("#${grid.tabId}_driver_name").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: #{verbatim} ${drivers} #{/verbatim}
        });
        
        $("#${grid.tabId}_start_date, #${grid.tabId}_end_date").kendoDatePicker({
        	format: "yyyy-MM-dd"		
        });
        
        $("#${grid.tabId}_start_time, #${grid.tabId}_end_time").kendoTimePicker({
        	format: "HH:mm:ss"		
        });
        
    	loadCounsels("${grid.readUrl}");
    });
    
    function loadCounsels(url, params){
        var dataSource = new kendo.data.DataSource({
        	error: function(e) {
		        if ((e.status && 403 == e.status) || (e.xhr && 403 == e.xhr.status))
		        	alert(e.responseText);
		        else{
		        	alert("Oops! 500 error!");
		        }
		    },
            transport: {
                read:  {
                    url: url,
                    dataType: "json",
                },
                update: {
                    url: "${grid.updateUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("update success");
                    }
                },
                destroy: {
                    url: "${grid.destroyUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("delete success");
                    }
                },
                create: {
                    url: "${grid.createUrl}",
                    complete: function(jqXHR, textStatus){
                    	if (jqXHR && jqXHR.status && 200 == jqXHR.status)
                    		alert("create success");
                    }
                },
                parameterMap:function (data, operation) {
                    if (operation !== "read" && data.models) {
                    	$.each(data.models, function(i, v){
                    		var model = data.models[i];
	                    	/**
	                    	 * 经过千辛万苦，终于把KendoUI关于Date，Time类型的增删改查解决了。
	                    	 */
	                    	model.startDate = kendo.toString(model.startDate, "yyyy-MM-dd");
	                    	model.startTime = kendo.toString(model.startTime, "HH:mm:ss");
	                    	model.endDate = kendo.toString(model.endDate, "yyyy-MM-dd");
	                    	model.endTime = kendo.toString(model.endTime, "HH:mm:ss");
                    	});
                    	
                        return {models: kendo.stringify(data.models)};
                    }
                    
                    return params;
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
            	parse: function(data){
            		$.each(data, function(i, val){
            			val.startTime = new Date(val.startDate + " " + val.startTime);
						val.startDate = new Date(val.startDate);
						val.endTime = new Date(val.endDate + " " + val.endTime);
						val.endDate = new Date(val.endDate);
					});
					
            		return data;
            	},
                model: {
                    id: "id",
                    fields: {
                        id: { editable: false, nullable: true },
                        userName: { validation: { required: true } },
                        driverName: { validation: { required: true } },
                        startDate: { validation: {required:true}, type: "date"},
                        startTime: { validation: { required: true } },
                        endDate: {validation: {required:true}, type: "date"},
                        endTime: { validation: { required: true } },
                        remark: { validation: { required: false } }
                    }
                }
            }
        });
        
		$("#grid_${grid.tabId}").empty();
		
		var columnsJson = #{verbatim} ${grid.columnsJson} #{/verbatim};
		columnsJson[columnsJson.length] = { command:"destroy", title:"Actions", width:"100px" };
        /**
		 * 循环遍历columns，找到某个field，给其添加自定义的 editor
		 */
		$.each(columnsJson, function(i, v){
			var _field = columnsJson[i]['field'];
			
			if ('userName' === _field){
				columnsJson[i].editor = function(container, options){
			        $('<input name="userName" />').appendTo(container).kendoComboBox({
				        dataTextField: "text",
				        dataValueField: "value",
				        dataSource: #{verbatim} ${users} #{/verbatim}
				    });
				};
			}
			
			if ('driverName' === _field){
				columnsJson[i].editor = function(container, options){
			        $('<input name="driverName" />').appendTo(container).kendoComboBox({
				        dataTextField: "text",
				        dataValueField: "value",
				        dataSource: #{verbatim} ${drivers} #{/verbatim}
				    });
				};
			}
			
			if ('startDate' === _field){
				columnsJson[i].template = '#= kendo.toString(startDate,"yyyy-MM-dd") #';
			}
			
			if ('startTime' === _field){
				columnsJson[i].template = '#= kendo.toString(startTime,"HH:mm:ss") #';
				columnsJson[i].editor = function(container, options){
			        $('<input name="startTime" />').appendTo(container).kendoTimePicker({
			        	format: "HH:mm:ss"
				    });
				};
			}
			
			if ('endDate' === _field){
				columnsJson[i].template = '#= kendo.toString(endDate,"yyyy-MM-dd") #';
			}
			
			if ('endTime' === _field){
				columnsJson[i].template = '#= kendo.toString(endTime,"HH:mm:ss") #';
				columnsJson[i].editor = function(container, options){
			        $('<input name="endTime" />').appendTo(container).kendoTimePicker({
			        	format: "HH:mm:ss"
				    });
				};
			}
		});
		
        $("#grid_${grid.tabId}").kendoGrid({
            dataSource:dataSource,
            pageable:true,
            scrollable:true,
            sortable:true,
            selectable:false,
            toolbar:["create", "save", "cancel"],
            columns:columnsJson,
            editable:true,
            navigatable: true
        });
    }
    
    function counselSearchValidate(form) {
    	var $form = $(form);
    	loadCounsels($form.attr("action"), $form.serializeArray());
    	
    	return false;
    }

</script>
